<table class="order-details-table" id="commission-table">
    <thead>
        <th width="26px">
            <div class="table-checkbox">
                <input type="checkbox" />
            </div>
        </th>
        <th width="14.32%">
            <div>
                <span class="table-text-overflow" title="Salon Name">Salon Name</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="9.78%">
            <div>
                <span class="table-text-overflow" title="No. Of Sales">No. Of Sales</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="13.79%">
            <div>
                <span class="table-text-overflow" title="No. Of Sold Products">No. Of Sold Products</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="10.56%">
            <div>
                <span class="table-text-overflow" title="Month/Year">Month/Year</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="13.10%">
            <div>
                <span class="table-text-overflow" title="Total Retail Value">Total Retail Value</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="15.10%">
            <div>
                <span class="table-text-overflow" title="Pending Commissions">Pending Commissions</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="13.36%">
            <div>
                <span class="table-text-overflow" title="Final Commissions">Final Commissions</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="7.68%">
            <div>
                <span class="table-text-overflow" title="Status">Status</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
    </thead>
    <tbody>
        <tr onclick="showCommissionDetails(this);">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">775 Rolling Green Rd</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">10</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">May, 2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$45</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$235</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Unpaid</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                        <path d="M13.998 0L7.39746 8.00071L0.796875 0H13.998Z" fill="#030706"/>
                    </svg>
                </div>
            </td>
        </tr>
        <tr onclick="showCommissionDetails(this);">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">775 Rolling Green Rd</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">10</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">May, 2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$45</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$235</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Paid</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                        <path d="M13.998 0L7.39746 8.00071L0.796875 0H13.998Z" fill="#030706"/>
                    </svg>
                </div>
            </td>
        </tr>
        <tr onclick="showCommissionDetails(this);">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">775 Rolling Green Rd</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">10</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">May, 2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$45</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$235</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Unpaid</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                        <path d="M13.998 0L7.39746 8.00071L0.796875 0H13.998Z" fill="#030706"/>
                    </svg>
                </div>
            </td>
        </tr>
        <tr onclick="showCommissionDetails(this);">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">775 Rolling Green Rd</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">10</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">May, 2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$45</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$235</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Paid</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                        <path d="M13.998 0L7.39746 8.00071L0.796875 0H13.998Z" fill="#030706"/>
                    </svg>
                </div>
            </td>
        </tr>
        <tr onclick="showCommissionDetails(this);">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">775 Rolling Green Rd</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">10</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">May, 2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$45</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$235</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Unpaid</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                        <path d="M13.998 0L7.39746 8.00071L0.796875 0H13.998Z" fill="#030706"/>
                    </svg>
                </div>
            </td>
        </tr>
        <tr onclick="showCommissionDetails(this);">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">775 Rolling Green Rd</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">10</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">May, 2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$45</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$235</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Paid</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                        <path d="M13.998 0L7.39746 8.00071L0.796875 0H13.998Z" fill="#030706"/>
                    </svg>
                </div>
            </td>
        </tr>
        <tr onclick="showCommissionDetails(this);">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">775 Rolling Green Rd</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">10</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">May, 2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$45</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$235</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Unpaid</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                        <path d="M13.998 0L7.39746 8.00071L0.796875 0H13.998Z" fill="#030706"/>
                    </svg>
                </div>
            </td>
        </tr>
        <tr onclick="showCommissionDetails(this);">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">775 Rolling Green Rd</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">10</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">May, 2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$45</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$235</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Paid</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                        <path d="M13.998 0L7.39746 8.00071L0.796875 0H13.998Z" fill="#030706"/>
                    </svg>
                </div>
            </td>
        </tr>
        <tr onclick="showCommissionDetails(this);">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">775 Rolling Green Rd</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">10</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">May, 2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$45</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$235</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Unpaid</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                        <path d="M13.998 0L7.39746 8.00071L0.796875 0H13.998Z" fill="#030706"/>
                    </svg>
                </div>
            </td>
        </tr>
        <tr onclick="showCommissionDetails(this);">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">775 Rolling Green Rd</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">10</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">May, 2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$45</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$235</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Paid</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                        <path d="M13.998 0L7.39746 8.00071L0.796875 0H13.998Z" fill="#030706"/>
                    </svg>
                </div>
            </td>
        </tr>
        <tr onclick="showCommissionDetails(this);">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">775 Rolling Green Rd</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">10</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">May, 2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$45</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$235</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Unpaid</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                        <path d="M13.998 0L7.39746 8.00071L0.796875 0H13.998Z" fill="#030706"/>
                    </svg>
                </div>
            </td>
        </tr>
        <tr onclick="showCommissionDetails(this);">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">775 Rolling Green Rd</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">10</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">May, 2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$45</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$235</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Paid</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                        <path d="M13.998 0L7.39746 8.00071L0.796875 0H13.998Z" fill="#030706"/>
                    </svg>
                </div>
            </td>
        </tr>
        <tr onclick="showCommissionDetails(this);">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">775 Rolling Green Rd</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">10</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">May, 2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$45</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$235</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Unpaid</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                        <path d="M13.998 0L7.39746 8.00071L0.796875 0H13.998Z" fill="#030706"/>
                    </svg>
                </div>
            </td>
        </tr>
        <tr onclick="showCommissionDetails(this);">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">775 Rolling Green Rd</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">10</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">May, 2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$45</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$235</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Paid</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                        <path d="M13.998 0L7.39746 8.00071L0.796875 0H13.998Z" fill="#030706"/>
                    </svg>
                </div>
            </td>
        </tr>
        <tr onclick="showCommissionDetails(this);">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">775 Rolling Green Rd</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">10</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">May, 2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$45</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$235</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Unpaid</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                        <path d="M13.998 0L7.39746 8.00071L0.796875 0H13.998Z" fill="#030706"/>
                    </svg>
                </div>
            </td>
        </tr>
        <tr onclick="showCommissionDetails(this);">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">775 Rolling Green Rd</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">10</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">May, 2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$45</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$235</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Paid</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                        <path d="M13.998 0L7.39746 8.00071L0.796875 0H13.998Z" fill="#030706"/>
                    </svg>
                </div>
            </td>
        </tr>
    </tbody>
</table>