{% load custom_tags %}

<table class="order-details-table hide" id="commission-table">
    <thead>
        <th width="26px">
            <div class="table-checkbox">
                <input type="checkbox" />
            </div>
        </th>
        <th width="14.32%" onclick="sortByAlphabets(event, 1);" class="cursor-pointer">
            <div>
                <span class="table-text-overflow" title="Salon Name">Salon Name</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="9.78%" onclick="sortByDigits(event, 2);" class="cursor-pointer">
            <div>
                <span class="table-text-overflow" title="No. Of Sales">No. Of Sales</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="13.79%" onclick="sortByDigits(event, 3);" class="cursor-pointer">
            <div>
                <span class="table-text-overflow" title="No. Of Sold Products">No. Of Sold Products</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="10.76%" onclick="sortByDate(event, 4);" class="cursor-pointer">
            <div>
                <span class="table-text-overflow" title="Month/Year">Month/Year</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="13.10%" onclick="sortByDigits(event, 5);" class="cursor-pointer">
            <div>
                <span class="table-text-overflow" title="Total Retail Value">Total Retail Value</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="15.10%" onclick="sortByDigits(event, 6);" class="cursor-pointer">
            <div>
                <span class="table-text-overflow" title="Pending Commissions">Pending Commissions</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="13.36%" onclick="sortByDigits(event, 7);">
            <div>
                <span class="table-text-overflow" title="Final Commissions">Final Commissions</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="7.48%" onclick="sortByAlphabets(event, 8);" class="cursor-pointer">
            <div>
                <span class="table-text-overflow" title="Status">Status</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
    </thead>
    <tbody>
        {% for obj in commissions.data %}
        <tr onclick="showCommissionDetails(this, '{{obj.salon.id}}', '{{obj.month_created}}');">
            <td>
                <div class="table-checkbox" onclick="event.stopPropagation();">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span class="table-text-overflow w-100" title="{{obj.salon.salon_name}}">{{obj.salon.salon_name}}</span>
                    <span class="opacity-point-6 table-text-overflow w-100 {% if obj.salon.salon_address != None %}{% else %}hide{% endif %}" title="{% if obj.salon.salon_address %}{{obj.salon.salon_address.street1}}{% endif %}">{% if obj.salon.salon_address %}{{obj.salon.salon_address.street1}}{% endif %}</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6 table-text-overflow" title="{{obj.orders_count}}">{{obj.orders_count}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6 table-text-overflow" title="{{obj.total_products_count}}">{{obj.total_products_count}}</span>
                </div>
            </td>
            <td dateTime="{{obj.month_created}}">
                <div>
                    <span class="opacity-point-6 month" title="{{obj.month_created}}">{{obj.month_created}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6 table-text-overflow" title="${{obj.total_purchase}}">${{obj.total_purchase}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6 table-text-overflow" title="${{obj.month_commission}}">${{obj.month_commission}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6 table-text-overflow" title="${{obj.total_commission}}">${{obj.total_commission}}</span>
                </div>
            </td>
            <td onclick="event.stopPropagation();">
                <div class="commission-status-div">
                    {% if obj.month_status == 'unpaid' %}
                    <select name="status" id="commission-status-{{forloop.counter0}}" class="status-options" onchange="changeCommissionStatus(event, '{{obj.salon.id}}', '{{obj.month_created}}')">
                        <option value="" selected disabled hidden>Unpaid</option>
                        <option value="paid">Paid</option>
                    </select>
                    {% else %}
                    <span>{{obj.month_status|title}}</span>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="9" class="no-record-row">No record available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>