<table class="order-details-table hide" id="customer-table">
    <thead>
        <th>
            <div class="table-checkbox">
                <input type="checkbox" />
            </div>
        </th>
        <th>
            <div>
                <span>Customer Name</span>
            </div>
        </th>
        <th>
            <div>
                <span>Location</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th>
            <div>
                <span>Referrals</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th>
            <div>
                <span>Tier</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th>
            <div>
                <span>Orders</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th>
            <div>
                <span>Sales Channel</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th>
            <div>
                <span>Source</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th>
            <div>
                <span>Amount Spent</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
    </thead>
    <tbody>
        {% for obj in customers.data %}
        <tr onclick="location.pathname = '/specific-customer/{{obj.id}}/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>{{obj.first_name}} {{obj.last_name}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span>{% if obj.shipping_address == None %}No Address{% else %}{{obj.shipping_address.address}}{% endif %}</span>
                </div>
            </td>
            <td>
                <div>
                    <span>({{obj.referrals_count}}){{obj.completed_referrals_count}}</span>
                </div>
            </td>
            <td>
                <div>
                    {% if obj.salon == None %}
                    <span>Bronze (No Salon)</span>
                    {% elif obj.reward_summary.membership_level.level_name == 'Newly registered' %}
                    <span>Bronze ({{obj.reward_summary.total_rewards}})</span>
                    {% elif obj.reward_summary.membership_level.level_name == 'New User / Bronze' %}
                    <span>Bronze ({{obj.reward_summary.total_rewards}})</span>
                    {% else %}
                    <span>{{obj.reward_summary.membership_level.level_name}} ({{obj.reward_summary.total_rewards}})</span>
                    {% endif %}
                </div>
            </td>
            <td>
                <div>
                    <span>{{obj.orders_count}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span>HOMME</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Street Team</span>
                </div>
            </td>
            <td>
                <div>
                    <span>${{obj.total_spent}}</span>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="9" class="no-record-row">No record available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>