<table class="order-details-table hide" id="customer-table">
    <thead>
        <th width="26px">
            <div class="table-checkbox">
                <input type="checkbox" />
            </div>
        </th>
        <th width="13.13%" onclick="sortByAlphabets(event, 1);">
            <div>
                <span>Customer Name</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="15.76%" onclick="sortByAlphabets(event, 2);">
            <div>
                <span>Location</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="8.5%" onclick="sortByAlphabets(event, 3);">
            <div>
                <span>Referrals</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="14.44%" onclick="sortByAlphabets(event, 4);">
            <div>
                <span>Tier</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="7.96%" onclick="sortByOrder(event, 5);">
            <div>
                <span>Orders</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="13%" onclick="sortByAlphabets(event, 6);">
            <div>
                <span>Sales Channel</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="12%" onclick="sortByAlphabets(event, 7);">
            <div>
                <span>Source Type</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="11%" onclick="sortByAlphabets(event, 8);">
            <div>
                <span>Source Channel</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="11.47%" onclick="sortByOrder(event, 9);">
            <div>
                <span>Amount Spent</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
    </thead>
    <tbody>
        {% for obj in customers.data %}
        <tr onclick="location.pathname = '/specific-customer/{{obj.id}}/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span title="{{obj.first_name}} {{obj.last_name}}" class="table-text-overflow">{{obj.first_name}} {{obj.last_name}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span title="{% if obj.shipping_address == None %}No Address{% else %}{{obj.shipping_address.address}}{% endif %}" class="table-text-overflow">{% if obj.shipping_address == None %}No Address{% else %}{{obj.shipping_address.address}}{% endif %}</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="table-text-overflow" title="({{obj.referrals_count}}){{obj.completed_referrals_count}}">({{obj.referrals_count}}){{obj.completed_referrals_count}}</span>
                </div>
            </td>
            <td>
                <div>
                    {% if obj.salon == None %}
                    <span class="table-text-overflow" title="Bronze (No Salon)">Bronze (No Salon)</span>
                    {% elif obj.reward_summary.membership_level.level_name == 'Newly registered' %}
                    <span class="table-text-overflow" title="Bronze ({{obj.reward_summary.total_rewards}})">Bronze ({{obj.reward_summary.total_rewards}})</span>
                    {% elif obj.reward_summary.membership_level.level_name == 'New User / Bronze' %}
                    <span class="table-text-overflow" title="Bronze ({{obj.reward_summary.total_rewards}})">Bronze ({{obj.reward_summary.total_rewards}})</span>
                    {% else %}
                    <span class="table-text-overflow" title="{{obj.reward_summary.membership_level.level_name}} ({{obj.reward_summary.total_rewards}})">{{obj.reward_summary.membership_level.level_name}} ({{obj.reward_summary.total_rewards}})</span>
                    {% endif %}
                </div>
            </td>
            <td>
                <div>
                    <span class="table-text-overflow" title="{{obj.orders_count}}">{{obj.orders_count}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="table-text-overflow" title="{{obj.sales_channel|title}}">{{obj.sales_channel|title}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="table-text-overflow" title="{{obj.user.source_referrer.type.name|default:'--'}}">{{obj.user.source_referrer.type.name|default:'--'}}</span>
                </div>
            </td>
            <td>
                <div><span class="table-text-overflow" title="{{obj.user.source_referrer.channel.name|default:'--'|title}}">{{obj.user.source_referrer.channel.name|default:'--'|title}}</span></div>
            </td>
            <td>
                <div>
                    <span class="table-text-overflow" title="${{obj.total_spent}}">${{obj.total_spent}}</span>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="10" class="no-record-row">No record available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>