{% load custom_tags %}

<table class="order-details-table hide" id="order-table">
    <thead>
        <th width="26px">
            <div class="table-checkbox">
                <input type="checkbox" />
            </div>
        </th>
        <th width="6.24%" onclick="sortByOrder(event, 1);">
            <div>
                <span>Order</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="10.22%" onclick="sortByDate(event);">
            <div>
                <span>Date</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="12%" onclick="sortByAlphabets(event, 3);">
            <div>
                <span>Customer</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="9.86%" onclick="sortByAlphabets(event, 4);">
            <div>
                <span>Sales Channel</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="10%" onclick="sortByAlphabets(event, 5);">
            <div>
                <span>Source Type</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="11.4%" onclick="sortByAlphabets(event, 6);">
            <div>
                <span>Source Channel</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="8.59%" onclick="sortByOrder(event, 7);">
            <div>
                <span>Net Sales</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="11.76%" onclick="sortByAlphabets(event, 8);">
            <div>
                <span>Purchase Type</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="9%" onclick="sortByAlphabets(event, 9);">
            <div>
                <span>Status</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="5.42%" onclick="sortByOrder(event, 10);">
            <div>
                <span>Items</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="7%" onclick="sortByAlphabets(event, 11);">
            <div>
                <span>Delivery</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
    </thead>
    <tbody>
        {% for obj in orders.data %}
        <tr onclick="location.href = location.origin + '/specific-order/{{obj.id}}'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>#{{obj.id}}</span>
                </div>
            </td>
            <td dateTime="{{obj.created_at}}">
                <div>
                    <span class="order-date">{{obj.created_at}}</span>
                </div>
            </td>
            <td onclick="event.stopPropagation();location.href = location.origin + '/specific-customer/{{obj.user_profile.id}}'">
                <div>
                    <span title="{{obj.user_profile.first_name|title}} {{obj.user_profile.last_name|title}}" class="table-text-overflow">{% if obj.user_profile.first_name %}{{obj.user_profile.first_name|title}}{% endif %} {% if obj.user_profile.last_name %}{{obj.user_profile.last_name|title}}{% endif %}</span>
                </div>
            </td>
            <td>
                <div><span class="table-text-overflow" title="{{obj.sales_channel|title}}">{{obj.sales_channel|title}}</span></div>
            </td>
            <td>
                <div><span class="table-text-overflow">{% if obj.user_profile.user.source_referrer == None or obj.user_profile.user.source_referrer == "" %}--{% else %}{{obj.user_profile.user.source_referrer.type.name|default:'--'|title}}{% endif %}</span></div>
            </td>
            <td>
                <div><span class="table-text-overflow">{% if obj.user_profile.user.source_referrer == None or obj.user_profile.user.source_referrer == "" %}--{% else %}{{obj.user_profile.user.source_referrer.channel.name|default:'--'|title}}{% endif %}</span></div>
            </td>
            <td>
                <div>
                    <span class="table-text-overflow">${{obj.total}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span>{{obj.purchase_type|title}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span>{{obj.status|title}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="table-text-overflow" title="{{obj.products|calculate_items}} items">{{obj.products|calculate_items}} items</span>
                </div>
            </td>
            <td>
                <div>
                    <span>{{obj.pickup_type|title}}</span>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="11" class="no-record-row">No record available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>