{% load custom_tags %}

<table class="order-details-table hide" id="activity-table">
    <thead>
        <th>
            <div class="table-checkbox">
                <input type="checkbox" />
            </div>
        </th>
        <th onclick="sortByAlphabets(event, 1);">
            <div>
                <span>Type</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th onclick="sortByDate(event, 2);">
            <div>
                <span>Date</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th onclick="sortByAlphabets(event, 3);">
            <div>
                <span>Name</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th onclick="sortByAlphabets(event, 4);">
            <div>
                <span>Sales Channel</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th onclick="sortByDigits(event, 5)">
            <div>
                <span>Net Cash</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th onclick="sortByDigits(event, 6)">
            <div>
                <span>Rewards</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th onclick="sortByAlphabets(event, 7);">
            <div>
                <span>Status</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
    </thead>
    <tbody>
        {% for obj in activities.data %}
        <tr>
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>{{obj.type|title}}</span>
                </div>
            </td>
            <td dateTime="{{obj.created_at}}">
                <div class="date-column">
                    <span>{{obj.created_at|custom_date:"j-M-Y"}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span>{{obj.fullname}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span>No channel</span>
                </div>
            </td>
            <td>
                <div>
                    <span>${{obj.net_cash}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span>{{obj.rewards}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span>{{obj.status|title}}</span>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7" class="no-record-row">No record available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>