<table class="order-details-table" id="activity-table">
    <thead>
        <th>
            <div class="table-checkbox">
                <input type="checkbox" />
            </div>
        </th>
        <th onclick="sortByAlphabets(event, 1);">
            <div>
                <span>Type</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th>
            <div>
                <span>Date</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th onclick="sortByAlphabets(event, 3);">
            <div>
                <span>Name</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th onclick="sortByAlphabets(event, 4);">
            <div>
                <span>Sales Channel</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th onclick="sortByDigits(event, 5)">
            <div>
                <span>Net Cash</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th onclick="sortByDigits(event, 6)">
            <div>
                <span>Rewards</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th onclick="sortByAlphabets(event, 7);">
            <div>
                <span>Status</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
    </thead>
    <tbody>
        <tr data-bs-target="#activityProduct" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Product Purchase</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Courtney Henry</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$50.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$50</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Purchase</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityReward" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Manual Adjustments</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Darrell Steward</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>-50</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Invitation</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityInvitation" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Invitations Accepted</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Ronald Richards</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Purchase</span>
                </div>
            </td>
        </tr>
        <tr  data-bs-target="#activityEarnedReward" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Earned Rewards</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Kristin Watson</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>25</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Invitation</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityProduct" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Product Purchase</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Courtney Henry</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$50.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$50</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Purchase</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityReward" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Manual Adjustments</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Darrell Steward</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>-50</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Invitation</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityInvitation" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Invitations Accepted</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Ronald Richards</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Purchase</span>
                </div>
            </td>
        </tr>
        <tr  data-bs-target="#activityEarnedReward" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Earned Rewards</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Kristin Watson</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>25</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Invitation</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityProduct" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Product Purchase</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Courtney Henry</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$50.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$50</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Purchase</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityReward" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Manual Adjustments</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Darrell Steward</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>-50</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Invitation</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityInvitation" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Invitations Accepted</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Ronald Richards</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Purchase</span>
                </div>
            </td>
        </tr>
        <tr  data-bs-target="#activityEarnedReward" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Earned Rewards</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Kristin Watson</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>25</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Invitation</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityProduct" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Product Purchase</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Courtney Henry</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$50.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$50</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Purchase</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityReward" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Manual Adjustments</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Darrell Steward</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>-50</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Invitation</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityInvitation" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Invitations Accepted</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Ronald Richards</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Purchase</span>
                </div>
            </td>
        </tr>
        <tr  data-bs-target="#activityEarnedReward" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Earned Rewards</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Kristin Watson</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>25</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Invitation</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityProduct" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Product Purchase</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Courtney Henry</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$50.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$50</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Purchase</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityReward" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Manual Adjustments</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Darrell Steward</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>-50</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Invitation</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityInvitation" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Invitations Accepted</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Ronald Richards</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Purchase</span>
                </div>
            </td>
        </tr>
        <tr  data-bs-target="#activityEarnedReward" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Earned Rewards</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Kristin Watson</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>25</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Invitation</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityProduct" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Product Purchase</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Courtney Henry</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$50.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$50</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Purchase</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityReward" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Manual Adjustments</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Darrell Steward</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>-50</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Invitation</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityInvitation" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Invitations Accepted</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Ronald Richards</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Purchase</span>
                </div>
            </td>
        </tr>
        <tr  data-bs-target="#activityEarnedReward" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Earned Rewards</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Kristin Watson</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>25</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Invitation</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityProduct" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Product Purchase</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Courtney Henry</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$50.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$50</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Purchase</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityReward" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Manual Adjustments</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Darrell Steward</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>-50</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Invitation</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityInvitation" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Invitations Accepted</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Ronald Richards</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Purchase</span>
                </div>
            </td>
        </tr>
        <tr  data-bs-target="#activityEarnedReward" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Earned Rewards</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Kristin Watson</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>25</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Invitation</span>
                </div>
            </td>
        </tr>
        <tr data-bs-target="#activityProduct" data-bs-toggle="modal">
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Product Purchase</span>
                </div>
            </td>
            <td>
                <div class="date-column">
                    <span>08-Jan-2023</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Courtney Henry</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$50.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$50</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Purchase</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>