{% load static %}
{% load custom_tags %}

<table class="order-details-table hide" id="events-table">
    <thead>
        <th width="4.25%"></th>
        <th width="13.95%" onclick="sortByAlphabets(event, 1);" class="cursor-pointer">
            <div>
                <span>Title</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="15.75%">
            <div><span>Location</span></div>
        </th>
        <th width="22.59%">
            <div><span>Short Description</span></div>
        </th>
        <th width="22.94">
            <div><span>Long Description</span></div>
        </th>
        <th width="10%">
            <div><span>Type</span></div>
        </th>
        <th width="10.5%">
            <div><span>Action</span></div>
        </th>
    </thead>
    <tbody>
        {% for obj in events.data %}
        <tr>
            <td>
                <div class="product-image">
                    <img src="{% if obj.image != None %}{{obj.image}}{% else %}{% static 'Assets/customer/images/X_in_App_Symbol.jpg' %}{% endif %}" alt="product image" />
                </div>
            </td>
            <td>
                <div title="{{obj.title}}"><span class="table-text-overflow">{{obj.title}}</span></div>
            </td>
            <td>
                <div>{% if obj.location %}<span class="table-text-overflow" title="{{obj.location}}">{{obj.location}}</span><span class="highlighted-text hide" style="white-space: nowrap;">More Info</span>{% else %}<span>No Location</span>{% endif %}</div>
            </td>
            <td>
                <div title="{{obj.description}}"><span class="table-text-overflow">{{obj.description}}</span></div>
            </td>
            <td>
                <div title="{{obj.long_description}}"><span class="table-text-overflow">{{obj.long_description|default:"--"}}</span></div>
            </td>
            <td>
                <div title="{{obj.model_type}}"><span class="table-text-overflow">{{obj.model_type|title|string_without_underscore}}</span></div>
            </td>
            <td>
                <div>
                    <a href="{% if obj.model_type == 'special_offer' %}{% if obj.venue_link != '' %}{{obj.venue_link}}{% else %}javascript:void(0);{% endif %}{% else %}{% if obj.rsvp != '' %}{{obj.rsvp}}{% else %}javascript:void(0);{% endif %}{% endif %}" target="_blank" class="highlighted-text {% if obj.model_type == 'special_offer' %}{% if obj.venue_link == '' %}opacity-point-3-5 pe-none{% endif %}{% else %}{% if obj.rsvp == '' %}opacity-point-3-5 pe-none{% endif %}{% endif %}">RSVP</a>
                    <svg class="cursor-pointer" {% if obj.model_type == 'special_offer' %}onclick="openUpdateSpecialOfferModal('eventCreateOffer', '{{obj.id}}', '{{obj.title}}', '{{obj.sub_title}}', '{{obj.description}}', '{{obj.discount_percent}}', '{{obj.summary}}', '{{obj.venue_name}}', '{{obj.venue_address}}', '{{obj.venue_link}}', '{% if obj.image != None %}{{obj.image}}{% else %}{{obj.image}}{% endif %}', '{{obj.product.id}}')"{% else %}onclick="openUpdateEventModal('eventCreate', '{{obj.id}}', '{{obj.title}}', '{{obj.sub_title}}', '{{obj.description}}', '{{obj.long_description}}', '{{obj.venue}}', '{{obj.location}}', '{{obj.rsvp}}', '{{base_media_url}}{{obj.image}}')"{% endif %} xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                        <path d="M9.16732 4.32777H5.00065C4.55862 4.32777 4.1347 4.50337 3.82214 4.81593C3.50958 5.12849 3.33398 5.55241 3.33398 5.99444V15.1611C3.33398 15.6031 3.50958 16.0271 3.82214 16.3396C4.1347 16.6522 4.55862 16.8278 5.00065 16.8278H14.1673C14.6093 16.8278 15.0333 16.6522 15.3458 16.3396C15.6584 16.0271 15.834 15.6031 15.834 15.1611V10.9944M14.6557 3.14944C14.8094 2.99025 14.9933 2.86328 15.1966 2.77594C15.4 2.68859 15.6187 2.64261 15.84 2.64069C16.0613 2.63876 16.2807 2.68093 16.4856 2.76474C16.6904 2.84854 16.8765 2.97229 17.033 3.12878C17.1895 3.28527 17.3132 3.47135 17.397 3.67618C17.4808 3.88101 17.523 4.10048 17.5211 4.32177C17.5191 4.54307 17.4732 4.76177 17.3858 4.96511C17.2985 5.16845 17.1715 5.35236 17.0123 5.50611L9.85732 12.6611H7.50065V10.3044L14.6557 3.14944Z" stroke="#000093" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <svg class="cursor-pointer" onclick="openDelEventModal('delModal', '{{obj.id}}', '{{obj.model_type}}')" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                        <path d="M8.33398 9.32682V14.3268M11.6673 9.32682V14.3268M3.33398 5.99349H16.6673M15.834 5.99349L15.1115 16.1118C15.0816 16.5323 14.8934 16.9258 14.5849 17.2131C14.2764 17.5004 13.8705 17.6602 13.449 17.6602H6.55232C6.13077 17.6602 5.72487 17.5004 5.41639 17.2131C5.1079 16.9258 4.91975 16.5323 4.88982 16.1118L4.16732 5.99349H15.834ZM12.5007 5.99349V3.49349C12.5007 3.27248 12.4129 3.06051 12.2566 2.90423C12.1003 2.74795 11.8883 2.66016 11.6673 2.66016H8.33398C8.11297 2.66016 7.90101 2.74795 7.74473 2.90423C7.58845 3.06051 7.50065 3.27248 7.50065 3.49349V5.99349H12.5007Z" stroke="#CF0000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7" class="no-record-row">No record available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>