<table class="order-details-table" id="inventory-table">
    <thead>
        <th width="12.13%">
            <div>
                <span>Status</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="11.61%">
            <div>
                <span>Salon Name</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="17.46">
            <div>
                <span>SKUs To Fulfill</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="13.1%">
            <div>
                <span>Total Retail Value</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="17.29%">
            <div>
                <span>Total Movement (wk/mo)</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="13.1%">
            <div>
                <span>Items To Fulfill</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="15.28%">
            <div>
                <span>Purchase Order</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
    </thead>
    <tbody>
        <tr onclick="showInventoryDetails(this);">
            <td>
                <div>
                    <span>Fulfilled</span>
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">New York, NY</span>
                </div>
            </td>
            <td>
                <div class="sku-cell">
                    <span class="opacity-point-6">Face Serum, Face Wash, Hair mask, Face Tonic, Body....</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">7/30</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19 products</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="print-cell-text">PRINT PDF</span>
                </div>
            </td>
        </tr>
        <tr onclick="showInventoryDetails(this);">
            <td>
                <div>
                    <span>Unfulfilled</span>
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">New York, NY</span>
                </div>
            </td>
            <td>
                <div class="sku-cell">
                    <span class="opacity-point-6">Face Serum, Face Wash, Hair mask, Face Tonic, Body....</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">7/30</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19 products</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="print-cell-text">PRINT PDF</span>
                </div>
            </td>
        </tr>
        <tr onclick="showInventoryDetails(this);">
            <td>
                <div>
                    <span>Unfulfilled</span>
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">New York, NY</span>
                </div>
            </td>
            <td>
                <div class="sku-cell">
                    <span class="opacity-point-6">Face Serum, Face Wash, Hair mask, Face Tonic, Body....</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">7/30</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19 products</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="print-cell-text">PRINT PDF</span>
                </div>
            </td>
        </tr>
        <tr onclick="showInventoryDetails(this);">
            <td>
                <div>
                    <span>Fulfilled</span>
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">New York, NY</span>
                </div>
            </td>
            <td>
                <div class="sku-cell">
                    <span class="opacity-point-6">Face Serum, Face Wash, Hair mask, Face Tonic, Body....</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">7/30</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19 products</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="print-cell-text">PRINT PDF</span>
                </div>
            </td>
        </tr>
        <tr onclick="showInventoryDetails(this);">
            <td>
                <div>
                    <span>Unfulfilled</span>
                </div>
            </td>
            <td>
                <div class="salon-cell">
                    <span>Redge NYC</span>
                    <span class="opacity-point-6">New York, NY</span>
                </div>
            </td>
            <td>
                <div class="sku-cell">
                    <span class="opacity-point-6">Face Serum, Face Wash, Hair mask, Face Tonic, Body....</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">$475</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">7/30</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">19 products</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="print-cell-text">PRINT PDF</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>