{% load custom_tags %}

<table class="order-details-table hide" id="product-sales-table">
    <thead>
        <th width="26px">
            <div class="table-checkbox">
                <input type="checkbox" />
            </div>
        </th>
        <th width="9%" onclick="sortByDigits(event, 1)">
            <div>
                <span>Order</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="15.21%" onclick="sortByDate(event)">
            <div>
                <span>Date</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="13.5%" onclick="sortByAlphabets(event, 3)">
            <div>
                <span>Customer</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="9.9%" onclick="sortByAlphabets(event, 4)">
            <div>
                <span>Channel</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="8.1%" onclick="sortByDigits(event, 5)">
            <div>
                <span>Net Sales</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="10.71%" onclick="sortByAlphabets(event, 6)">
            <div>
                <span>Payment status</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="11.7%" onclick="sortByAlphabets(event, 7)">
            <div>
                <span>Status</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="7.83%" onclick="sortByDigits(event, 8)">
            <div>
                <span>Items</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="11.7%" onclick="sortByAlphabets(event, 9)">
            <div>
                <span>Delivery method</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
    </thead>
    <tbody>
        {% for obj in sales.data %}
        <tr onclick="location.pathname = '/consumer/specific-sale/{{obj.id}}'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>#{{obj.id}}</span>
                </div>
            </td>
            <td dateTime="{{obj.created_at}}">
                <div>
                    <span class="order-date">{{obj.created_at}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span title="{{obj.user_profile.first_name|title}} {{obj.user_profile.last_name|title}}" class="table-text-overflow">{% if obj.user_profile.first_name %}{{obj.user_profile.first_name|title}}{% endif %} {% if obj.user_profile.last_name %}{{obj.user_profile.last_name|title}}{% endif %}</span>
                </div>
            </td>
            <td>
                <div><span>Salon</span></div>
            </td>
            <td>
                <div>
                    <span>${{obj.total}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Paid</span>
                </div>
            </td>
            <td>
                <div>
                    <span>{{obj.status|title}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span>{{obj.products|calculate_items}} items</span>
                </div>
            </td>
            <td>
                <div>
                    <span>{{obj.pickup_type|title}}</span>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="10" class="no-record-row">No record available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>