{% load custom_tags %}

<table class="order-details-table hide" id="referrals-table">
    <thead>
        <th width="26px">
            <div class="table-checkbox">
                <input type="checkbox" />
            </div>
        </th>
        <th width="12.69%">
            <div>
                <span>Referrer</span>
            </div>
        </th>
        <th width="13.13%" onclick="sortByAlphabets(event, 2);">
            <div>
                <span>Referrer Type</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="12.08%" onclick="sortByAlphabets(event, 3);">
            <div>
                <span>Referree</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="14.88%" onclick="sortByAlphabets(event, 4);">
            <div>
                <span>Location</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="11.73%" onclick="sortByDate(event);">
            <div>
                <span>Registration Date</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="6.12%" onclick="sortByDigits(event, 6)">
            <div>
                <span>Visits</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="12.25%" onclick="sortPurchaseDate(7);">
            <div>
                <span>First Puchase Date</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="7%" onclick="sortByDigits(event, 8)">
            <div>
                <span>Net Sales</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="9.63%" onclick="sortByDigits(event, 9)">
            <div>
                <span>Points Earned</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
    </thead>
    <tbody>
        {% for obj in referrals.data %}
        <tr>
            <td>
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span title="{{obj.referrer.name}}" class="referrer-referree-name table-text-overflow">{% if obj.referrer == None %}No Referrer{% else %}{{obj.referrer.name}}{% endif %}</span>
                </div>
            </td>
            <td>
                <div>
                    <span>{% if obj.referrer == None %}No Referrer{% else %}{% if obj.referrer.role == 'user' %}Customer{% elif obj.referrer.role == 'salon' %}Salon{% endif %}{% endif %}</span>
                </div>
            </td>
            <td>
                <div>
                    <span title="{{obj.first_name|title}} {{obj.last_name|title}}" class="referrer-referree-name table-text-overflow">{% if obj.first_name %}{{obj.first_name|title}}{% endif %} {% if obj.last_name %}{{obj.last_name|title}}{% endif %}</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="table-text-overflow">{% if obj.billing_address == None %}No Location{% else %}{{obj.billing_address.address}}{% endif %}</span>
                </div>
            </td>
            <td dateTime="{{obj.created_at}}">
                <div>
                    <span class="opacity-point-6 reg-date">{{obj.created_at}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">0</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="opacity-point-6">{% if obj.first_purchase_date %}{{obj.first_purchase_date|custom_date:"j-M-Y"}}{% else %}No Purchase Date{% endif %}</span>
                </div>
            </td>
            <td>
                <div>
                    <span>${{obj.net_sales}}</span>
                </div>
            </td>
            <td>
                <div>
                    <span>{{obj.points_earned}}</span>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="10" class="no-record-row">No record available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>