{% load custom_tags %}

<table class="order-details-table hide" id="marketing-table">
    <thead>
        <th width="26px">
            <div class="table-checkbox">
                <input type="checkbox" />
            </div>
        </th>
        <th width="20%" onclick="sortByAlphabets(event, 1);">
            <div>
                <span>Title</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="11%" onclick="sortByDate(event);">
            <div>
                <span>Date</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="29.4%" onclick="sortByAlphabets(event, 3);">
            <div>
                <span>Targets</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th width="37.14%" onclick="sortByAlphabets(event, 4);">
            <div>
                <span>Notification Text</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path opacity="0.2" d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
    </thead>
    <tbody>
        {% for obj in marketing.data %}
        <tr onclick="openSalonNotificationDetailModal('salonMarketingNotification', '{{obj.title}}', `{% if obj.salons %}{{obj.salons|comma_separated_string:'salon_name'}}{% else %}null{% endif %}`, '{{obj.text}}', '{{obj.state}}');">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span class="overflow-text" title="{{obj.title}}">{{obj.title}}</span>
                </div>
            </td>
            <td dateTime="{{obj.created_at}}">
                <div class="date-column">
                    <span class="created-at-date">{{obj.created_at}}</span>
                </div>
            </td>
            <td>
                <div>
                    {% if obj.target_type == 'all_users' %}
                    <span class="overflow-text">All D2C Users</span>
                    {% elif obj.target_type == 'all_users_by_salon' %}
                    <span class="overflow-text" title="Associated Users of Salon {{obj.salons|comma_separated_string:'salon_name'}}">Associated Users of Salon {{obj.salons|comma_separated_string:"salon_name"}}</span>
                    {% elif obj.target_type == 'all_users_by_no_salon' %}
                    <span class="overflow-text">All D2C Users Without a Salon</span>
                    {% elif obj.target_type == 'all_users_by_no_purchase' %}
                    <span class="overflow-text">All D2C Users That Have Not Purchased</span>
                    {% elif obj.target_type == 'all_users_by_no_referral' %}
                    <span class="overflow-text">All D2C Users That Have No Referrals</span>
                    {% elif obj.target_type == 'all_salons' %}
                    <span class="overflow-text" title="{{obj.salons|comma_separated_string:'salon_name'}}">{{obj.salons|comma_separated_string:"salon_name"}}</span>
                    {% elif obj.target_type == 'selected_salons' %}
                    <span class="overflow-text" title="{{obj.salons|comma_separated_string:'salon_name'}}">{{obj.salons|comma_separated_string:"salon_name"}}</span>
                    {% endif %}
                </div>
            </td>
            <td>
                <div>
                    <span class="overflow-text" title="{{obj.text}}">{{obj.text}}</span>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="no-record-row">No record available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>