<table class="order-details-table" id="salon-table">
    <thead>
        <th>
            <div class="table-checkbox">
                <input type="checkbox" />
            </div>
        </th>
        <th>
            <div>
                <span>Salon Name</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th>
            <div>
                <span>Location</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th>
            <div>
                <span>Country</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th>
            <div>
                <span>Contact Name</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th>
            <div>
                <span>Orders</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th>
            <div>
                <span>Net Sales</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th>
            <div>
                <span>Customers Registered</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th>
            <div>
                <span>Status</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
        <th>
            <div>
                <span>Stock</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                </svg>
            </div>
        </th>
    </thead>
    <tbody>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Orlando, FL 18642</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Kathryn</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Approved</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonAddStock">
                <div class="highlighted-data">
                    <span>Add Initial Stock</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Shortcuts</span>
                </div>
            </td>
            <td>
                <div>
                    <span>New York, NY 10017</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Aubrey</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Pending</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>On Edge</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Chicago, IL 13456</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Connie</span>
                </div>
            </td>
            <td>
                <div>
                    <span>54</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$235.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>54</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Active</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Bed Head</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Orlando, FL 18642</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Tanya</span>
                </div>
            </td>
            <td>
                <div>
                    <span>34</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$146.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>34</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Referred</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Just Curls</span>
                </div>
            </td>
            <td>
                <div>
                    <span>New York, NY 10017</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Gladys</span>
                </div>
            </td>
            <td>
                <div>
                    <span>23</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$166.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>23</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Rejected</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Orlando, FL 18642</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Kathryn</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Approved</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonAddStock">
                <div class="highlighted-data">
                    <span>Add Initial Stock</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Shortcuts</span>
                </div>
            </td>
            <td>
                <div>
                    <span>New York, NY 10017</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Aubrey</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Pending</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>On Edge</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Chicago, IL 13456</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Connie</span>
                </div>
            </td>
            <td>
                <div>
                    <span>54</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$235.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>54</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Active</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Bed Head</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Orlando, FL 18642</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Tanya</span>
                </div>
            </td>
            <td>
                <div>
                    <span>34</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$146.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>34</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Referred</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Just Curls</span>
                </div>
            </td>
            <td>
                <div>
                    <span>New York, NY 10017</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Gladys</span>
                </div>
            </td>
            <td>
                <div>
                    <span>23</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$166.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>23</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Rejected</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Orlando, FL 18642</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Kathryn</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Approved</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonAddStock">
                <div class="highlighted-data">
                    <span>Add Initial Stock</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Shortcuts</span>
                </div>
            </td>
            <td>
                <div>
                    <span>New York, NY 10017</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Aubrey</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Pending</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>On Edge</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Chicago, IL 13456</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Connie</span>
                </div>
            </td>
            <td>
                <div>
                    <span>54</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$235.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>54</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Active</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Bed Head</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Orlando, FL 18642</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Tanya</span>
                </div>
            </td>
            <td>
                <div>
                    <span>34</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$146.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>34</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Referred</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Just Curls</span>
                </div>
            </td>
            <td>
                <div>
                    <span>New York, NY 10017</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Gladys</span>
                </div>
            </td>
            <td>
                <div>
                    <span>23</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$166.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>23</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Rejected</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Orlando, FL 18642</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Kathryn</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Approved</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonAddStock">
                <div class="highlighted-data">
                    <span>Add Initial Stock</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Shortcuts</span>
                </div>
            </td>
            <td>
                <div>
                    <span>New York, NY 10017</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Aubrey</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Pending</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>On Edge</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Chicago, IL 13456</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Connie</span>
                </div>
            </td>
            <td>
                <div>
                    <span>54</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$235.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>54</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Active</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Bed Head</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Orlando, FL 18642</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Tanya</span>
                </div>
            </td>
            <td>
                <div>
                    <span>34</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$146.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>34</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Referred</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Just Curls</span>
                </div>
            </td>
            <td>
                <div>
                    <span>New York, NY 10017</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Gladys</span>
                </div>
            </td>
            <td>
                <div>
                    <span>23</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$166.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>23</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Rejected</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Orlando, FL 18642</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Kathryn</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Approved</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonAddStock">
                <div class="highlighted-data">
                    <span>Add Initial Stock</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Shortcuts</span>
                </div>
            </td>
            <td>
                <div>
                    <span>New York, NY 10017</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Aubrey</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Pending</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>On Edge</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Chicago, IL 13456</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Connie</span>
                </div>
            </td>
            <td>
                <div>
                    <span>54</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$235.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>54</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Active</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Bed Head</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Orlando, FL 18642</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Tanya</span>
                </div>
            </td>
            <td>
                <div>
                    <span>34</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$146.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>34</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Referred</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Just Curls</span>
                </div>
            </td>
            <td>
                <div>
                    <span>New York, NY 10017</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Gladys</span>
                </div>
            </td>
            <td>
                <div>
                    <span>23</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$166.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>23</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Rejected</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Redge NYC</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Orlando, FL 18642</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Kathryn</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Approved</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonAddStock">
                <div class="highlighted-data">
                    <span>Add Initial Stock</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Shortcuts</span>
                </div>
            </td>
            <td>
                <div>
                    <span>New York, NY 10017</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Aubrey</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$0</span>
                </div>
            </td>
            <td>
                <div>
                    <span>0</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Pending</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>On Edge</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Chicago, IL 13456</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Connie</span>
                </div>
            </td>
            <td>
                <div>
                    <span>54</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$235.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>54</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Active</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
        <tr onclick="location.pathname = '/consumer/specific-salon/'">
            <td onclick="event.stopPropagation();">
                <div class="table-checkbox">
                    <input type="checkbox" />
                </div>
            </td>
            <td>
                <div>
                    <span>Bed Head</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Orlando, FL 18642</span>
                </div>
            </td>
            <td>
                <div>
                    <span>USA</span>
                </div>
            </td>
            <td>
                <div>
                    <span>Tanya</span>
                </div>
            </td>
            <td>
                <div>
                    <span>34</span>
                </div>
            </td>
            <td>
                <div>
                    <span>$146.00</span>
                </div>
            </td>
            <td>
                <div>
                    <span>34</span>
                </div>
            </td>
            <td class="cursor-pointer" onclick="event.stopPropagation();" data-bs-toggle="modal" data-bs-target="#salonDetail">
                <div>
                    <span>Referred</span>
                </div>
            </td>
            <td>
                <div>
                    <span>---</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>