#addCommission .modal-dialog {
    max-width: unset;
    width: 621px;
}

#addCommission .modal-header {
    padding: 9px 10px!important;
    background-color: #EEE;
    height: 40px;
    border-radius: 0px!important;
}

#addCommission .modal-footer,
#addCommission .modal-content {
    border-radius: 0px!important;
}

#addCommission .modal-header > span {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

#addCommission .modal-body {
    padding: 20px!important;
    width: 621px;
}

#addCommission input::placeholder,
#addCommission textarea::placeholder {
    color: #A9A9A9;
}

#addCommission .modal-body input,
#addCommission .modal-body .selected-salons-wrapper > button {
    width: 100%;
    height: 40px;
    padding: 14px 18px;
    margin-bottom: 15px;
    flex-shrink: 0;

    border-radius: 8px;
    border: 0.8px solid #515254;
    background: var(--white, #FFF);

    color: var(--Black, #030706);
    font-family: Gotham Book;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#addCommission .modal-body .selected-salons-wrapper {
    margin-bottom: 20px;
    position: relative;
}

#addCommission .modal-body .selected-salons-wrapper > button {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

#addCommission .modal-body .selected-salons-wrapper > .selected-salons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 14px 17px;
    height: fit-content;
    max-height: 204px;
    overflow-y: auto;

    border-radius: 8px;
    border: 0.8px solid #515254;
    background: var(--white, #FFF);
}

#addCommission .modal-body .selected-salons-wrapper > .selected-salons .salon-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 12px;
    width: 173px;
    height: 36px;

    border-radius: 8px;
    border: 0.8px solid var(--secondary-line-color, #515254);
    background: var(--primary-white, #FFF);

    color: var(--primary-black, #000);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#addCommission .modal-body .selected-salons-wrapper .salon-search-wrapper {
    position: absolute;
    top: 42px;
    padding: 20px 20px 6px 20px;
    width: 581px;
    border-radius: 8px;
    border: 1px solid #CECECE;
    background: #FFF;
}

#addCommission .modal-body .selected-salons-wrapper .salon-search-wrapper .search-header {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 17px;
}

#addCommission .modal-body .selected-salons-wrapper .salon-search-wrapper .search-header > div {
    width: 379px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--primary-black, #000);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.68px;
}

#addCommission .modal-body .selected-salons-wrapper .salon-search-wrapper .search-header > div > input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 0.8px solid var(--secondary-line-color, #515254);
    background: var(--primary-white, #FFF);
    text-align: center;
    padding-left: 44px;
    padding-right: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Gotham Book;
    font-size: .75rem;
    line-height: 10px;
    font-weight: 500;
    color: #000;
}

#addCommission .modal-body .selected-salons-wrapper .salon-search-wrapper .search-header > div > svg {
    position: absolute;
    left: 12px;
}

#addCommission .modal-body .selected-salons-wrapper .salon-search-wrapper .search-header > button {
    border: 1px solid transparent;
    border-radius: 7px;
    background: #9D9D9D;
    width: 146px;
    height: 30px;

    color: var(--white, #FFF);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
}


#addCommission .modal-body > .group-inputs {
    margin-bottom: 13px!important;
}

#addCommission .modal-body .notification-notes textarea {
    width: 100%;
    height: 149px;
    padding: 15px;
    border-radius: 8px;
    border: 0.8px solid #030706;
    background: var(--white, #FFF);
    resize: none;

    color: var(--Black, #030706);
    font-family: Gotham Book;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#addCommission .modal-body .selected-salons-wrapper .salon-search-wrapper .salon-list-wrapper {
    border-radius: 6px;
    border: 1px solid #CECECE;
    max-height: 212px;
    overflow-y: auto;
}

/* #addCommission .modal-body .selected-salons-wrapper .salon-search-wrapper .salon-list-wrapper > div {
} */

#addCommission .modal-body .selected-salons-wrapper .salon-search-wrapper .salon-list-wrapper .salon-list-item {
    display: flex;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #CECECE;
}

#addCommission .modal-body .selected-salons-wrapper .salon-search-wrapper .salon-list-wrapper .salon-list-item:last-of-type {
    border-bottom: unset;
}

#addCommission .modal-body .selected-salons-wrapper .salon-search-wrapper .salon-list-wrapper .salon-list-item > label {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px;

    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

#addCommission .modal-body .selected-salons-wrapper .salon-search-wrapper .salon-list-wrapper .salon-list-item > div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border-left: 1px solid #CECECE;
}

#addCommission .modal-body .selected-salons-wrapper .salon-search-wrapper .salon-list-wrapper .salon-list-item > div > input {
    border: 1px solid #CECECE;
    width: 14px;
    height: 14px;
}

#addCommission .error-div {
    text-align: left;
    padding: 0px 20px;
}


#addCommission .modal-footer {
    padding: 0px 12px 15px 12px!important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#addCommission .modal-footer > button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 7px;
    background: var(--Brand-color, #000093);
    width: 170px;
    height: 30px;

    color: var(--white, #FFF);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
}


.selection-input {
    position: relative;
    margin-bottom: 15px;
}

#addCommission .filter-btn {
    width: 100%;
    height: 40px;
    padding: 0px 18px 0px 16px;
    background-color: #FFF;
    border: 1px solid #515254;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#addCommission .filter-btn > span,
#addCommission .radio-btn > label {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

#addCommission .filter-btn > span {
    color: #A9A9A9;
    font-size: .875rem;
}

#addCommission .filter-dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 42px;
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #E0E0DD;
    z-index: 1;
}

#addCommission .filter-dropdown .add-btn {
    width: 100%;
    padding: 15px;
    background-color: #E7E7E7;
    border: 1px solid #E0E0DD;
    border-radius: 6px 6px 0px 0px;
    position: relative;
}

#addCommission .filter-dropdown .add-btn button {
    width: 100%;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 7px;
    background: var(--Brand-color, #000093);

    color: var(--white, #FFF);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
}

#addCommission .filter-dropdown .add-btn > input {
    margin-top: 5px;
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    
    width: 100%;
    height: 30px;
    border: 1px solid #515254;
    border-radius: 8px;
    padding: 0px 16px;
}

#addCommission .radio-btn > label {
    width: 100%;
    padding: 16px 15px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addCommission .radio-btn:first-of-type > label {
    border-radius: 8px 8px 0px 0px;
}

#addCommission .radio-btn:last-of-type > label {
    border-radius: 0px 0px 8px 8px;
}

#addCommission .radio-btn:not(:first-child) {
    border-top: 1px solid #E0E0DD;
}

#addCommission .radio-btn > label:hover {
    background-color: #DDDDDD;
}

#addCommission .filter-dropdown input {
    display: none;
}



/* --------------------------------------------------------- */



#addCommission .selection-div {
    width: 100%;
    position: relative;
}

#addCommission .filter-btn {
    width: 100%;
    height: 40px;
    padding: 0px 18px 0px 16px;
    background-color: #FFF;
    border: 1px solid #515254;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#addCommission .filter-btn > span,
#addCommission .radio-btn > label {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    word-break: break-all;
}

#addCommission .filter-btn > span {
    color: #A9A9A9;
    font-size: .875rem;
}

#addCommission .filter-dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 42px;
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #E0E0DD;
    max-height: 166px;
    overflow-y: auto;
}

#addCommission #customer-dropdown {
    max-height: 216px;
    overflow-y: auto;
}

#addCommission .radio-btn > label {
    width: 100%;
    padding: 0px 15px;
    height: 40px;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
}
/* 
.radio-btn > label:first-of-type {
    border-radius: 8px 0px 8px 0px;
}

.radio-btn > label:last-of-type {
    border-radius: 0px 8px 8px 0px;
} */

#addCommission .radio-btn:not(:first-child) {
    border-top: 1px solid #E0E0DD;
}

#addCommission .radio-btn > label:hover {
    background-color: #DDDDDD;
}

#addCommission .filter-dropdown input {
    display: none;
}


#no-salon-text {
    font-family: Gotham Medium;
    color: #000;
    font-weight: 500;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}