#editSourceTypeChannelModal .modal-dialog {
    max-width: unset;
    width: 621px;
}

#editSourceTypeChannelModal .modal-header {
    padding: 9px 10px!important;
    background-color: #EEE;
    height: 40px;
    border-radius: 0px!important;
}

#editSourceTypeChannelModal .modal-footer,
#editSourceTypeChannelModal .modal-content {
    border-radius: 0px!important;
}

#editSourceTypeChannelModal .modal-header > span {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

#editSourceTypeChannelModal .modal-body {
    padding: 20px!important;
    width: 621px;
}

#editSourceTypeChannelModal input::placeholder,
#editSourceTypeChannelModal textarea::placeholder {
    color: #A9A9A9;
}

#editSourceTypeChannelModal .modal-body .input-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#editSourceTypeChannelModal .modal-body .input-div input {
    width: 100%;
    height: 40px;
    padding: 0px 18px;
    border-radius: 8px;
    border: 0.8px solid #515254;
    background: var(--white, #FFF);
    color: var(--Black, #030706);
    font-family: Gotham Book;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#editSourceTypeChannelModal .modal-body .error-div {
    text-align: left;
    margin-top: 5px;
}


#editSourceTypeChannelModal .modal-footer {
    padding: 15px 20px!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#editSourceTypeChannelModal .modal-footer > button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 7px;
    background: var(--Brand-color, #000093);
    width: 162px;
    height: 30px;

    color: var(--white, #FFF);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
}

#editSourceTypeChannelModal .modal-footer > button:first-of-type {
    background: #FFF;
    color: #000093;
    width: 174px;
    border: 1px solid #000093;
}