#eventCreateOffer .modal-dialog {
    max-width: unset;
    width: 621px;
}

#eventCreateOffer .modal-header {
    padding: 9px 20px!important;
    background-color: #EEE;
    height: 40px;
    border-radius: 0px!important;
}

#eventCreateOffer .modal-footer,
#eventCreateOffer .modal-content {
    border-radius: 0px!important;
}

#eventCreateOffer .modal-header > span {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

#eventCreateOffer .modal-body {
    padding: 20px 0px 0px 0px!important;
}

#eventCreateOffer input::placeholder,
#eventCreateOffer textarea::placeholder {
    color: rgba(3, 7, 6, 0.60);
}

#eventCreateOffer .modal-body > .general-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 0px 20px;
}

#eventCreateOffer .modal-body > .general-inputs > .select-products-div {
    width: 100%;
    position: relative;
}

#eventCreateOffer .modal-body > .general-inputs > input,
#eventCreateOffer .modal-body > .general-inputs > .select-products-div button {
    width: 100%;
    height: 40px;
    padding: 0px 18px;

    color: rgba(3, 7, 6, 1);
    font-family: Gotham Book;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;

    border-radius: 8px;
    border: 0.8px solid #515254;
    background: #FFF;
}

#eventCreateOffer .modal-body > .general-inputs > .select-products-div button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(3, 7, 6, 0.60);
}

#eventCreateOffer .modal-body .select-products-div .product-search-wrapper {
    position: absolute;
    top: 54px;
    padding: 20px 20px 10px 20px;
    width: 581px;
    border-radius: 8px;
    border: 1px solid #CECECE;
    background: #FFF;
    width: 100%;
}

/* #eventCreateOffer .modal-body .select-products-div .product-search-wrapper .search-header {
    display: flex;
    align-items: center;
    gap: 17px;
} */

#eventCreateOffer .modal-body .select-products-div .product-search-wrapper .search-header {
    width: 100%;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 13px;

    color: var(--primary-black, #000);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.68px;
}

#eventCreateOffer .modal-body .select-products-div .product-search-wrapper .search-header > input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 0.8px solid var(--secondary-line-color, #515254);
    background: var(--primary-white, #FFF);
    text-align: center;
    padding-left: 44px;
    padding-right: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--primary-black, #000);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.68px;
}

#eventCreateOffer .modal-body .select-products-div .product-search-wrapper .search-header > svg {
    position: absolute;
    left: 12px;
}

#eventCreateOffer .modal-body .select-products-div .product-search-wrapper .product-list-wrapper {
    border-radius: 6px;
    border: 1px solid #CECECE;
    max-height: 212px;
    overflow-y: auto;
}

/* #eventCreateOffer .modal-body .select-products-div .product-search-wrapper .product-list-wrapper > div {
} */

#eventCreateOffer .modal-body .select-products-div .product-search-wrapper .product-list-wrapper .product-list-item {
    display: flex;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #CECECE;
}

#eventCreateOffer .modal-body .select-products-div .product-search-wrapper .product-list-wrapper .product-list-item:last-of-type {
    border-bottom: unset;
}

#eventCreateOffer .modal-body .select-products-div .product-search-wrapper .product-list-wrapper .product-list-item > label {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px;

    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

#eventCreateOffer .modal-body .select-products-div .product-search-wrapper .product-list-wrapper .product-list-item > div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border-left: 1px solid #CECECE;
}

#eventCreateOffer .modal-body .select-products-div .product-search-wrapper .product-list-wrapper .product-list-item > div > input {
    border: 1px solid #CECECE;
    width: 14px;
    height: 14px;
    appearance: none;
    content: none;
    outline: none;
    margin: 0;
    cursor: pointer;
}
 
#eventCreateOffer .modal-body .select-products-div .product-search-wrapper .product-list-wrapper .product-list-item > div > input:checked {
    border: 1px solid #0d6efd!important;
    background-color: #0d6efd;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

#eventCreateOffer .modal-body > .general-inputs > textarea {
    width: 100%;
    height: 196px;
    resize: none;
    padding: 14px 18px;
    border-radius: 8px;
    border: 0.8px solid #515254;
    background: #FFF;
    color: rgba(3, 7, 6, 1);
    font-family: Gotham Book;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#eventCreateOffer .modal-body .image-wrapper {
    padding: 15px 20px;
}

#eventCreateOffer .modal-body .image-wrapper > label {
    width: 100%;
    height: 195px;
    border: 1px dashed #C5C5C5;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

#eventCreateOffer .modal-body .image-wrapper > label > input {
    display: none;
}

#eventCreateOffer .modal-body .image-wrapper > label > svg {
    margin-bottom: 8px;
}

#eventCreateOffer .modal-body .image-wrapper > label > span:first-of-type {
    color: var(--C-07, #333);
    text-align: center;
    font-family: Gotham Book;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#eventCreateOffer .modal-body .image-wrapper > label > span:last-of-type {
    color: #B3B3B3;
    text-align: center;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#eventCreateOffer .modal-body .image-wrapper > label > .event-img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
}

#eventCreateOffer .modal-body .special-error-div {
    text-align: left;
    padding: 0px 20px;
}


#eventCreateOffer .modal-footer {
    padding: 15px 20px 15px 20px!important;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#eventCreateOffer .modal-footer > button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 7px;
    background: var(--Brand-color, #000093);
    width: 170px;
    height: 30px;
    margin: 0px;

    color: var(--white, #FFF);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
}

#eventCreateOffer .modal-footer > button:first-of-type {
    background-color: #FFF;
    border: 1px solid #000;
    color: #000;
    width: 125px;
}