#salonDetail .modal-dialog {
    max-width: unset;
    width: 1023px;
    justify-content: center;
}

#salonDetail .modal-header {
    padding: 9px 10px!important;
    background-color: #EEE;
    height: 50px;
    border-radius: 0px!important;
    /* border-top-right-radius: 8px!important;
    border-top-left-radius: 8px!important; */
}

.border-right {
    border-right: 1px solid #CECECE!important;
}

.border-bottom {
    border-bottom: 1px solid #CECECE!important;
}

#salonDetail .modal-footer {
    border-radius: 0px!important;
}

#salonDetail .modal-content {
    border-radius: 0px!important;
}

#salonDetail .modal-header > div span {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

#salonDetail .modal-header > div > .salon-current-status {
    font-size: .75rem;
    font-family: Gotham Book;
}

#salonDetail .modal-body {
    padding: 0px!important;
}

#salonDetail input::placeholder {
    color: #000;
    opacity: .6;
}

#salonDetail .modal-body .general-info-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 9px 10px;
    background-color: #F8F8F8;
    border-top: 1px solid #CECECE;
    border-bottom: 1px solid #CECECE;
    height: 40px;

    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

#salonDetail .modal-body .general-info-divs {
    display: flex;
    align-items: center;
}

#salonDetail .modal-body .general-info-divs > div {
    display: flex;
    flex-direction: column;
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

#salonDetail .modal-body .general-info-divs > div > div {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0px 5px;
}

#salonDetail .modal-body .general-info-divs > div:first-of-type > div {
    padding: 0px 10px;
}

#salonDetail .modal-body .general-info-divs > .name-div {
    width: 185px;
}

#salonDetail .modal-body .general-info-divs > .phone-div {
    width: 198px;
}

#salonDetail .modal-body .general-info-divs > .email-div {
    width: 640px;
}

#salonDetail .modal-body .general-info-divs > .tax-id-div {
    width: 187px;
}

#salonDetail .modal-body .general-info-divs > .street-div {
    width: 453px;
}

#salonDetail .modal-body .general-info-divs > .address-1-div {
    width: 153px;
}

#salonDetail .modal-body .general-info-divs > .address-2-div {
    width: 164px;
}

#salonDetail .modal-body .general-info-divs > .city-div {
    width: 155px;
}

#salonDetail .modal-body .general-info-divs > .state-div {
    width: 184px;
}

#salonDetail .modal-body .general-info-divs > .zip-div {
    width: 191px;
}

#salonDetail .modal-body .general-info-divs > .country-div {
    width: 176px;
}

#salonDetail .modal-body .general-info-divs > .routing-num-div {
    width: 222px;
}

#salonDetail .modal-body .general-info-divs > .account-num-div {
    width: 231px;
}

#salonDetail .modal-body .general-info-input {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 15px;
}

#salonDetail .modal-body .general-info-input > input,
#salonDetail .modal-body .legal-info-input > div > input {
    width: 320px;
    height: 40px;
    border-radius: 8px;
    border: 0.8px solid #CECECE;
    background: var(--white, #FFF);
    padding: 0px 15px;

    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

#salonDetail .modal-body .entity-info-input {
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 15px;
}

#salonDetail .modal-body .entity-info-input > input {
    width: 240px;
    height: 40px;
    border-radius: 8px;
    border: 0.8px solid #CECECE;
    background: var(--white, #FFF);
    padding: 0px 15px;

    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

#salonDetail .modal-body .legal-info-input {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 19px 15px;
}

#salonDetail .modal-body .legal-info-input > div {
    display: flex;
    align-items: center;
    gap: 16px;
}

#salonDetail .modal-body .salon-info-data {
    display: flex;
    align-items: center;
}

#salonDetail .modal-body .salon-info-data .salon-image-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 154px;
    padding: 11px 10px;
}

#salonDetail .modal-body .salon-info-data .salon-image-wrapper > img {
    width: 50px;
    height: 50px;
    border-radius: 6px;
}

#salonDetail .modal-body .salon-info-data .salon-image-wrapper > div {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
} 

#salonDetail .modal-body .salon-info-data .website-div,
#salonDetail .modal-body .salon-info-data .salon-phone-div,
#salonDetail .modal-body .salon-info-data .salon-map-div,
#salonDetail .modal-body .salon-info-data .short-description-div {
    display: flex;
    flex-direction: column;
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

#salonDetail .modal-body .salon-info-data .website-div > div,
#salonDetail .modal-body .salon-info-data .salon-phone-div > div,
#salonDetail .modal-body .salon-info-data .salon-map-div > div,
#salonDetail .modal-body .salon-info-data .short-description-div > div {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0px 5px;
}

#salonDetail .modal-body .salon-info-data .website-div {
    width: 164px;
}

#salonDetail .modal-body .salon-info-data .salon-phone-div {
    width: 155px;
}

#salonDetail .modal-body .salon-info-data .salon-map-div {
    width: 184px;
}

#salonDetail .modal-body .salon-info-data .short-description-div {
    width: 366px;
}

#salonDetail .site-links {
    color: #000093;
    text-decoration: underline;
}


#salonDetail .modal-footer {
    padding: 0px!important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid #CECECE;
}

#salonDetail .modal-footer .footer-header {
    margin: 0px;
    padding: 9px 10px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #CECECE;
    width: 100%;
    height: 36px;
    text-align: left;
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

#salonDetail .modal-footer .status-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0px;
    padding: 9px 10px;
    width: 100%;
}

#salonDetail .modal-footer .status-container .status-dropdown-wrapper {
    width: 225px;
    height: 40px;
    flex-shrink: 0;
    position: relative;

    border-radius: 8px;
    color: var(--Black, #030706);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

#salonDetail .modal-footer .status-container input[type="text"] {
    width: 565px;
    height: 40px;
    padding: 0px 15px;
    border-radius: 8px;
    border: 0.8px solid #CECECE;
    background: var(--white, #FFF);

    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

#salonDetail .modal-footer .status-container > button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 7px;
    background: var(--Brand-color, #000093);
    width: 170px;
    height: 36px;
    margin: 0px;

    color: var(--white, #FFF);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
}

#salonDetail .partnership-none {
    padding: 10px 0px;
}

#salonDetail .partnership-none > span {
    color: var(--Black, #030706);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}


#salonDetail .filter-btn {
    width: 100%;
    height: 40px;
    padding: 0px 18px 0px 16px;
    background-color: #FFF;
    border: 1px solid #515254;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#salonDetail .filter-btn > span,
#salonDetail .radio-btn > label {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

/* #salonDetail .filter-btn > span {
    color: #A9A9A9;
} */

#salonDetail .filter-dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 42px;
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #E0E0DD;
    z-index: 1;
}

#salonDetail .filter-dropdown .add-btn {
    width: 100%;
    padding: 15px;
    background-color: #E7E7E7;
    border: 1px solid #E0E0DD;
    border-radius: 6px 6px 0px 0px;
    position: relative;
}

#salonDetail .filter-dropdown .add-btn button {
    width: 100%;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 7px;
    background: var(--Brand-color, #000093);

    color: var(--white, #FFF);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
}

#salonDetail .filter-dropdown .add-btn > input {
    margin-top: 5px;
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    
    width: 100%;
    height: 30px;
    border: 1px solid #515254;
    border-radius: 8px;
    padding: 0px 16px;
}

#salonDetail .radio-btn > label {
    width: 100%;
    padding: 16px 15px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio-btn:first-of-type > label {
    border-radius: 8px 8px 0px 0px;
}

.radio-btn:last-of-type > label {
    border-radius: 0px 0px 8px 8px;
}

#salonDetail .radio-btn:not(:first-child) {
    border-top: 1px solid #E0E0DD;
}

#salonDetail .radio-btn > label:hover {
    background-color: #DDDDDD;
}

#salonDetail .filter-dropdown input {
    display: none;
}