#createSlider .modal-dialog {
    max-width: unset;
    width: 621px;
}

#createSlider .modal-header {
    padding: 9px 20px!important;
    background-color: #EEE;
    height: 40px;
    border-radius: 0px!important;
}

#createSlider .modal-footer,
#createSlider .modal-content {
    border-radius: 0px!important;
}

#createSlider .modal-header > span {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

#createSlider .modal-body {
    padding: 20px 0px 0px 0px!important;
}

#createSlider input::placeholder,
#createSlider textarea::placeholder {
    color: rgba(3, 7, 6, 0.60);
}

#createSlider .modal-body > .general-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 17px;
    padding: 0px 20px;
}

#createSlider .modal-body > .general-inputs > input {
    width: 100%;
    height: 40px;
    padding: 0px 18px;

    color: rgba(3, 7, 6, 1);
    font-family: Gotham Book;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;

    border-radius: 8px;
    border: 0.8px solid #515254;
    background: #FFF;
}

#createSlider .modal-body .user-level-dropdown-container {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0px 20px;
}

#createSlider .modal-body .user-level-dropdown-container > input {
    width: 100%;
    height: 40px;
    padding: 14px 34px 14px 18px;
    flex-shrink: 0;

    border-radius: 8px;
    border: 0.8px solid #515254;
    background: var(--white, #FFF);

    color: var(--Black, #030706);
    font-family: Gotham Book;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#createSlider .modal-body .user-level-dropdown-container > svg {
    position: absolute;
    right: 18px;
}

#createSlider .filter-btn {
    width: 100%;
    height: 40px;
    padding: 0px 18px 0px 16px;
    background-color: #FFF;
    border: 1px solid #515254;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#createSlider .filter-btn > span,
#createSlider .radio-btn > label {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

#createSlider .filter-btn > span {
    color: rgba(3, 7, 6, 0.60);
    font-size: .875rem;
}

#createSlider .filter-dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 42px;
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #E0E0DD;
}

#createSlider #user-level-dropdown,
#createSlider #salon-level-dropdown,
#createSlider #target-screen-dropdown {
    max-width: 579px;
    max-height: 290px;
    overflow-y: auto;
}

#createSlider #target-screen-dropdown-container {
    margin-top: 15px;
}

#createSlider .radio-btn > label {
    width: 100%;
    padding: 0px 15px;
    height: 40px;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
}
/* 
.radio-btn > label:first-of-type {
    border-radius: 8px 0px 8px 0px;
}

.radio-btn > label:last-of-type {
    border-radius: 0px 8px 8px 0px;
} */

#createSlider .radio-btn:not(:first-child) {
    border-top: 1px solid #E0E0DD;
}

#createSlider .radio-btn > label:hover {
    background-color: #DDDDDD;
}

#createSlider .filter-dropdown input {
    display: none;
}


#createSlider .modal-body .image-wrapper {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#createSlider .modal-body .image-wrapper > label {
    /* width: 100%; */
    width: 256px;
    height: 256px;
    border: 1px dashed #C5C5C5;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

#createSlider .modal-body .image-wrapper > label > input {
    display: none;
}

#createSlider .modal-body .image-wrapper > label > svg {
    margin-bottom: 8px;
}

#createSlider .modal-body .image-wrapper > label > span:first-of-type {
    color: var(--C-07, #333);
    text-align: center;
    font-family: Gotham Book;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#createSlider .modal-body .image-wrapper > label > span:last-of-type {
    color: #B3B3B3;
    text-align: center;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#createSlider .modal-body .image-wrapper > label > .event-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}

#createSlider .modal-body .error-div {
    text-align: left;
}


#createSlider .modal-footer {
    padding: 15px 20px!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#createSlider .modal-footer > button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 7px;
    background: var(--Brand-color, #000093);
    width: 170px;
    height: 30px;
    margin: 0px;

    color: var(--white, #FFF);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
}

#createSlider .modal-footer > button:first-of-type {
    background-color: #FFF;
    border: 1px solid #000;
    color: #000;
    width: 125px;
}