<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% extends '../layouts/base.html' %}
    {% load static %}
    
    {% block links %}

    <link rel="stylesheet" href="{% static 'Assets/customer/css/activity.css' %}" />
    <link rel="stylesheet" href="{% static 'Assets/modals/css/activity_create_modal.css' %}">
    <link rel="stylesheet" href="{% static 'Assets/modals/css/activity_product_modal.css' %}" />
    <link rel="stylesheet" href="{% static 'Assets/modals/css/activity_reward_modal.css' %}" />
    <link rel="stylesheet" href="{% static 'Assets/modals/css/activity_invitation_modal.css' %}" />
    <link rel="stylesheet" href="{% static 'Assets/modals/css/activity_earned_reward_modal.css' %}" />
    <link rel="stylesheet" href="{% static 'Assets/modals/css/order_shipping_label_modal.css' %}" />
    
    {% endblock %}

    <title>{% block title %}Homme Activity{% endblock %}</title>
</head>
<body>
    {% block body %}
    <div class="main-page">
        <div class="header">
            <form action="" class="search-user">
                {% csrf_token %}
                <div class="search-logo-wrapper">
                    <svg class="search-icon" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.4531 17.9219L13.4531 12.9219M15.1198 8.75521C15.1198 9.52125 14.9689 10.2798 14.6758 10.9875C14.3826 11.6953 13.9529 12.3383 13.4112 12.88C12.8696 13.4217 12.2265 13.8514 11.5188 14.1445C10.811 14.4377 10.0525 14.5885 9.28646 14.5885C8.52041 14.5885 7.76187 14.4377 7.05414 14.1445C6.34641 13.8514 5.70334 13.4217 5.16167 12.88C4.61999 12.3383 4.19031 11.6953 3.89716 10.9875C3.60401 10.2798 3.45312 9.52125 3.45313 8.75521C3.45313 7.20811 4.06771 5.72438 5.16167 4.63042C6.25563 3.53646 7.73936 2.92187 9.28646 2.92188C10.8336 2.92187 12.3173 3.53646 13.4112 4.63042C14.5052 5.72438 15.1198 7.20811 15.1198 8.75521Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <input type="text" name="search" value="" placeholder="SEARCH BY CUSTOMER" />
            </form>
            <div class="user-info">
                <div class="nav-notification-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="31" viewBox="0 0 28 31" fill="none">
                        <path d="M27.4206 23.8407H19.0037V25.5241C19.0037 26.8634 18.4716 28.148 17.5246 29.095C16.5775 30.0421 15.2929 30.5742 13.9536 30.5742C12.6142 30.5742 11.3297 30.0421 10.3826 29.095C9.43551 28.148 8.90345 26.8634 8.90345 25.5241V23.8407H0.486572L2.85171 21.4755C3.49308 20.8342 3.85332 19.9639 3.85332 19.0582V13.7404C3.85332 9.34346 6.66456 5.60132 10.5868 4.21422V3.64019C10.5868 2.74727 10.9415 1.89092 11.5729 1.25954C12.2043 0.628148 13.0607 0.273438 13.9536 0.273438C14.8465 0.273438 15.7028 0.628148 16.3342 1.25954C16.9656 1.89092 17.3203 2.74727 17.3203 3.64019V4.21422C19.2899 4.91107 20.9949 6.20133 22.2008 7.90735C23.4067 9.61338 24.0541 11.6513 24.0538 13.7404V19.0565C24.0538 19.5058 24.1422 19.9506 24.314 20.3657C24.4859 20.7807 24.7378 21.1579 25.0554 21.4755L27.4206 23.8407Z" fill="white"/>
                    </svg>
                    <svg class="notification-count" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <rect width="14.8372" height="14.8372" rx="3" transform="matrix(-1 0 0 1 15.0022 0.277344)" fill="#000093"/>
                        <path d="M8.85626 4.79209H4.63226V3.49609H10.5363V4.61209L6.74426 11.8961H5.08826L8.85626 4.79209Z" fill="white"/>
                    </svg>
                </div>
                <a href="javascript:void(0);">
                    <div class="nav-profile-image">
                        <span>{{admin_name}}</span>
                        <img src="{{admin_image}}" alt="Profile Image" />
                        <!-- <span>Homme Superadmin</span>
                        <img src="{% static 'Assets/customer/images/avatar.png' %}" alt="Profile Image" /> -->
                    </div>
                </a>
            </div>
        </div>
        <div class="content">
            <div class="order-wrapper">
                <span>ACTIVITY</span>
                <button type="button" data-bs-toggle="modal" data-bs-target="#activityCreate">CREATE ACTIVITY</button>
            </div>
            <div class="order-details-wrapper">
                <div class="order-details-filters">
                    <form onsubmit="searchForm(event);">
                        <input type="text" name="search" id="" />
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                            <path opacity="0.5" d="M18.1953 17.8594L13.1953 12.8594M14.862 8.69271C14.862 9.45875 14.7111 10.2173 14.4179 10.925C14.1248 11.6328 13.6951 12.2758 13.1534 12.8175C12.6118 13.3592 11.9687 13.7889 11.261 14.082C10.5532 14.3752 9.79469 14.526 9.02865 14.526C8.2626 14.526 7.50406 14.3752 6.79633 14.082C6.08859 13.7889 5.44553 13.3592 4.90386 12.8175C4.36218 12.2758 3.9325 11.6328 3.63935 10.925C3.3462 10.2173 3.19531 9.45875 3.19531 8.69271C3.19531 7.14561 3.80989 5.66188 4.90386 4.56792C5.99782 3.47396 7.48155 2.85937 9.02865 2.85938C10.5757 2.85937 12.0595 3.47396 13.1534 4.56792C14.2474 5.66188 14.862 7.14561 14.862 8.69271Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </form>
                    <div>
                        <button onclick="toggleSalesChannelDropdown();" id="sales-channel-btn" style="position: relative;" class="sales-btn">
                            <span id="selected-sales-channel">SALES CHANNEL</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="17" viewBox="0 0 15 17" fill="none">
                                <g clip-path="url(#clip0_776_5475)">
                                    <path d="M14.4766 8.86328L7.47656 16.3633L0.476562 8.86328H14.4766Z" fill="#030706"/>
                                    <path d="M14.4766 7.79687L7.47656 0.296875L0.476562 7.79687H14.4766Z" fill="#030706"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_776_5475">
                                        <rect width="14" height="16.5" fill="white" transform="translate(0.476562 0.296875)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            <div class="filter-dropdown" id="sales-channel-dropdown">
                                <span onclick="filterSalesChannelOption(event);" data-value="redgenyc">Redge NYC</span>
                            </div>
                        </button>
                        <button type="button" onclick="toggleDateSelectorInputs(event);" id="date-selector-btn" style="position: relative;" class="date-range-btn">
                            <span>DATE RANGE</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="17" viewBox="0 0 15 17" fill="none">
                                <g clip-path="url(#clip0_776_5475)">
                                    <path d="M14.4766 8.86328L7.47656 16.3633L0.476562 8.86328H14.4766Z" fill="#030706"/>
                                    <path d="M14.4766 7.79687L7.47656 0.296875L0.476562 7.79687H14.4766Z" fill="#030706"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_776_5475">
                                        <rect width="14" height="16.5" fill="white" transform="translate(0.476562 0.296875)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            <form class="filter-dropdown date-selector" id="date-selector" style="display: none;">
                                <div>
                                    <label for="start-date">Start Date</label>
                                    <input type="date" oninput="dateRangeForm(event);" name="start_date"  id="start-date" />
                                </div>
                                <div>
                                    <label for="end-date">End Date</label>
                                    <input type="date" oninput="dateRangeForm(event);" name="end_date"  id="end-date" />
                                </div>
                            </form>
                        </button>
                        <button type="button" onclick="toggleNetCashInputs(event);" id="net-cash-btn" style="position: relative;" class="net-cash-btn">
                            <span>NET CASH</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="17" viewBox="0 0 15 17" fill="none">
                                <g clip-path="url(#clip0_776_5475)">
                                    <path d="M14.4766 8.86328L7.47656 16.3633L0.476562 8.86328H14.4766Z" fill="#030706"/>
                                    <path d="M14.4766 7.79687L7.47656 0.296875L0.476562 7.79687H14.4766Z" fill="#030706"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_776_5475">
                                        <rect width="14" height="16.5" fill="white" transform="translate(0.476562 0.296875)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            <form class="filter-dropdown net-cash-selector" id="net-cash-selector" style="display: none;">
                                <div>
                                    <label for="min-cash-value">Min</label>
                                    <input type="number" min="0" oninput="netCashForm(event);" name="min_cash_value"  id="min-cash-value" />
                                </div>
                                <div>
                                    <label for="max-cash-value">Max</label>
                                    <input type="number" min="1" oninput="netCashForm(event);" name="max_cash_value"  id="max-cash-value" />
                                </div>
                            </form>
                        </button>
                        <button type="button" onclick="toggleRewardsInputs(event);" id="rewards-btn" style="position: relative;" class="rewards-btn">
                            <span>REWARDS</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="17" viewBox="0 0 15 17" fill="none">
                                <g clip-path="url(#clip0_776_5475)">
                                    <path d="M14.4766 8.86328L7.47656 16.3633L0.476562 8.86328H14.4766Z" fill="#030706"/>
                                    <path d="M14.4766 7.79687L7.47656 0.296875L0.476562 7.79687H14.4766Z" fill="#030706"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_776_5475">
                                        <rect width="14" height="16.5" fill="white" transform="translate(0.476562 0.296875)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            <form class="filter-dropdown rewards-selector" id="rewards-selector" style="display: none;">
                                <div>
                                    <label for="min-rewards-value">Min</label>
                                    <input type="number" min="0" oninput="rewardForm(event);" name="min_rewards_value"  id="min-rewards-value" />
                                </div>
                                <div>
                                    <label for="max-rewards-value">Max</label>
                                    <input type="number" min="1" oninput="rewardForm(event);" name="max_rewards_value"  id="max-rewards-value" />
                                </div>
                            </form>
                        </button>
                        <button onclick="toggleTypeDropdown();" id="type-btn" style="position: relative;" class="types-btn">
                            <span id="selected-type">TYPES</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="17" viewBox="0 0 15 17" fill="none">
                                <g clip-path="url(#clip0_776_5475)">
                                    <path d="M14.4766 8.86328L7.47656 16.3633L0.476562 8.86328H14.4766Z" fill="#030706"/>
                                    <path d="M14.4766 7.79687L7.47656 0.296875L0.476562 7.79687H14.4766Z" fill="#030706"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_776_5475">
                                        <rect width="14" height="16.5" fill="white" transform="translate(0.476562 0.296875)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            <div class="filter-dropdown" id="type-dropdown">
                                <span onclick="filterTypeOption(event);" data-value="">Product Purchase</span>
                                <span onclick="filterTypeOption(event);" data-value="">Manual Adjustments</span>
                                <span onclick="filterTypeOption(event);" data-value="">Invitations Accepted</span>
                                <span onclick="filterTypeOption(event);" data-value="">Earned Rewards</span>
                            </div>
                        </button>
                        <button class="sort-btn" onclick="reverseTableRows();">
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                                <path d="M15.1198 17.0872L11.7865 13.7539M6.78646 13.7539V3.75391V13.7539ZM6.78646 3.75391L3.45312 7.08724L6.78646 3.75391ZM6.78646 3.75391L10.1198 7.08724L6.78646 3.75391ZM15.1198 7.08724V17.0872V7.08724ZM15.1198 17.0872L18.4531 13.7539L15.1198 17.0872Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="order-details-table-wrapper">
                    {% include '../ajax/customer-activities-table.html' %}
                </div>
            </div>
        </div>
    </div>

    {% include '../modals/activity-create-modal.html' %}

    {% include '../modals/activity-product-modal.html' %}

    {% include '../modals/activity-reward-modal.html' %}

    {% include '../modals/activity-invitations-modal.html' %}

    {% include '../modals/activity-earned-modal.html' %}

    {% include '../modals/order-shipping-label-modal.html' %}

    {% endblock %}
</body>
{% block scripts %}
<script src="{% static 'Assets/customer/js/activity.js' %}"></script>
<script src="{% static 'Assets/modals/js/activityCreate.js' %}"></script>
{% endblock %}
</html>