<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% extends '../layouts/base.html' %}
    {% load static %}

    {% block links %}
    
    <link rel="stylesheet" href="{% static 'Assets/customer/css/customers.css' %}" />
    <link rel="stylesheet" href="{% static 'Assets/modals/css/customer_create_modal.css' %}" />
    <link rel="stylesheet" href="{% static 'Assets/modals/css/source_create_modal.css' %}" />

    {% endblock %}

    <title>{% block title %}Homme Customers{% endblock %}</title>
</head>
<body>
    {% block body %}
    <div class="main-page">
        {% include '../includes/header.html' %}
        <div class="content">
            <div class="order-wrapper">
                <div class="order-wrapper-header">
                    <span>CUSTOMERS</span>
                    <div>
                        <button type="button" onclick="openCreateSourceModal();">CREATE SOURCE</button>
                        <button type="button" onclick="openCreateCustomerModal();">ADD CUSTOMER</button>
                    </div>
                </div>
                <div class="customer-stats-overview hide">
                    <div>
                        <span id="total-customer-number"></span>
                        <span>Customers</span>
                    </div>
                    <div class="vr"></div>
                    <div>
                        <span>100%</span>
                        <span>Of Your Customers Base</span>
                    </div>
                </div>
            </div>
            <div class="order-details-wrapper">
                <div class="order-details-filters">
                    <div>
                        <form onsubmit="searchForm(event);" class="search-form">
                            <input maxlength="100" type="text" name="search" id="search-customer" />
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                                <path opacity="0.5" d="M18.1953 17.8594L13.1953 12.8594M14.862 8.69271C14.862 9.45875 14.7111 10.2173 14.4179 10.925C14.1248 11.6328 13.6951 12.2758 13.1534 12.8175C12.6118 13.3592 11.9687 13.7889 11.261 14.082C10.5532 14.3752 9.79469 14.526 9.02865 14.526C8.2626 14.526 7.50406 14.3752 6.79633 14.082C6.08859 13.7889 5.44553 13.3592 4.90386 12.8175C4.36218 12.2758 3.9325 11.6328 3.63935 10.925C3.3462 10.2173 3.19531 9.45875 3.19531 8.69271C3.19531 7.14561 3.80989 5.66188 4.90386 4.56792C5.99782 3.47396 7.48155 2.85937 9.02865 2.85938C10.5757 2.85937 12.0595 3.47396 13.1534 4.56792C14.2474 5.66188 14.862 7.14561 14.862 8.69271Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </form>
                        <button data-type="select-order-channel-btn" id="select-order-channel-btn" style="width: 166px;">
                            <span id="selected-order-channel-opt">SALES CHANNEL</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="18" viewBox="0 0 15 18" fill="none">
                                <g clip-path="url(#clip0_771_3739)">
                                    <path d="M14.5945 9.31641L7.59448 16.8164L0.594482 9.31641H14.5945Z" fill="#030706"/>
                                    <path d="M14.5947 8.25L7.59473 0.75L0.594727 8.25H14.5947Z" fill="#030706"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_771_3739">
                                    <rect width="14" height="16.5" fill="white" transform="translate(0.594727 0.75)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            <div class="filter-dropdown order-channel-dropdown" id="order-channel-dropdown">
                                <label for="homme-channel" class="cursor-pointer">
                                    <span>HOMME</span>
                                    <input type="checkbox" onchange="selectSalesChannel(this);" id="homme-channel" value="homme" name="sales_channel" />
                                </label>
                                <label for="salon-channel" class="cursor-pointer">
                                    <span>SALONS</span>
                                    <input type="checkbox" onchange="selectSalesChannel(this);" id="salon-channel" value="salon" name="sales_channel" />
                                </label>
                                <!-- <label for="referrer-channel" class="cursor-pointer">
                                    <span>REFERRERS</span>
                                    <input type="checkbox" onchange="selectSalesChannel(this);" id="referrer-channel" value="referral" name="sales_channel" />
                                </label> -->
                            </div>
                        </button>
                        <button onclick="toggleSourceTypeDropdown();" id="source-type-btn" style="position: relative; width: 152px">
                            <span id="selected-source-type" style="text-transform: uppercase;">SOURCE TYPE</span>
                            <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="15" height="18" viewBox="0 0 15 18" fill="none">
                                <g clip-path="url(#clip0_771_3739)">
                                    <path d="M14.5945 9.31641L7.59448 16.8164L0.594482 9.31641H14.5945Z" fill="#030706"/>
                                    <path d="M14.5947 8.25L7.59473 0.75L0.594727 8.25H14.5947Z" fill="#030706"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_771_3739">
                                    <rect width="14" height="16.5" fill="white" transform="translate(0.594727 0.75)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            <div class="filter-dropdown source-type-dropdown" id="source-type-list-dropdown" style="width: max-content; min-width: 100%; left: 0px; max-height: 313px; overflow-y: auto;">
                            </div>
                        </button>
                        <button data-type="select-order-channel-btn" id="select-source-channel-btn" style="width: 180px;">
                            <span id="selected-source-channel-opt">SOURCE CHANNEL</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="18" viewBox="0 0 15 18" fill="none">
                                <g clip-path="url(#clip0_771_3739)">
                                  <path d="M14.5945 9.31641L7.59448 16.8164L0.594482 9.31641H14.5945Z" fill="#030706"/>
                                  <path d="M14.5947 8.25L7.59473 0.75L0.594727 8.25H14.5947Z" fill="#030706"/>
                                </g>
                                <defs>
                                  <clipPath id="clip0_771_3739">
                                    <rect width="14" height="16.5" fill="white" transform="translate(0.594727 0.75)"/>
                                  </clipPath>
                                </defs>
                            </svg>
                            <div class="filter-dropdown order-channel-dropdown" id="source-channel-list-dropdown" style="width: max-content; min-width: 100%; left: 0px; max-height: 313px; overflow-y: auto;">
                                
                            </div>
                        </button>
                    </div>
                    <div>
                        <button onclick="reverseTableRows();">
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                                <path d="M15.1198 17.0872L11.7865 13.7539M6.78646 13.7539V3.75391V13.7539ZM6.78646 3.75391L3.45312 7.08724L6.78646 3.75391ZM6.78646 3.75391L10.1198 7.08724L6.78646 3.75391ZM15.1198 7.08724V17.0872V7.08724ZM15.1198 17.0872L18.4531 13.7539L15.1198 17.0872Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="order-details-table-wrapper">
                    <div class="w-100 h-100 d-flex justify-content-center align-items-center pt-2 pb-2" id="table-loader">
                        <span class="spinner-border spinner-border-md" style="color: #000093;" role="status" aria-hidden="true">
                        </span>
                    </div>
                    {% include '../ajax/customer-table.html' %}
                </div>
                <div class="pagination-section">
                    <div class="page-items">
                        <span>Items Per Page</span>
                        <div class="dropdown per-page-dropdown-menu">
                            <button class="btn dropdown-toggle" type="button" id="perPageDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                <span id="current-per-page">29</span>
                                <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.3116 5.6121C3.71075 6.07854 4.43204 6.07854 4.83119 5.6121L7.79362 2.15017C8.34883 1.50133 7.88779 0.500001 7.03382 0.500001L1.10897 0.500001C0.255 0.500001 -0.206046 1.50133 0.349174 2.15017L3.3116 5.6121Z" fill="black"/>
                                </svg>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="perPageDropdownMenu" id="per-page-dropdown-options-container">
                                
                            </ul>
                        </div>
                    </div>
                    <div class="table-pagination-navigation">
                        <div class="pagination-nav-btn opacity-point-6" id="previous-nav-btn">
                            <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.888147 3.73909C0.421701 4.13824 0.421702 4.85953 0.888147 5.25868L4.35008 8.22111C4.99891 8.77633 6.00024 8.31528 6.00024 7.46131L6.00024 1.53646C6.00024 0.68249 4.99891 0.221444 4.35008 0.776664L0.888147 3.73909Z" fill="black"/>
                            </svg>
                        </div>
                        <div class="pagination-nav-btn current-page" id="current-nav-page">
                            1
                        </div>
                        <div class="pagination-nav-btn opacity-point-6" id="next-nav-btn">
                            <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.11185 3.73909C5.5783 4.13824 5.5783 4.85953 5.11185 5.25868L1.64992 8.22111C1.00109 8.77633 -0.000243613 8.31528 -0.000243576 7.46131L-0.000243317 1.53646C-0.000243279 0.68249 1.00109 0.221444 1.64992 0.776664L5.11185 3.73909Z" fill="black"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include '../modals/source-create-modal.html' %}

    {% include '../modals/customer-create-modal.html' %}

    {% endblock %}
</body>
{% block scripts %}
<script src="{% static 'Assets/customer/js/customer.js' %}"></script>
<script src="{% static 'Assets/modals/js/createSource.js' %}"></script>
<script src="{% static 'Assets/modals/js/createCustomerModal.js' %}"></script>
{% endblock %}
</html>