<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% extends '../layouts/base.html' %}
    {% load static %}

    {% block links %}
    
    <link rel="stylesheet" href="{% static 'Assets/customer/css/marketing.css' %}" />
    <link rel="stylesheet" href="{% static 'Assets/modals/css/marketing_notification_modal.css' %}" />

    {% endblock %}

    <title>{% block title %}Homme Activity{% endblock %}</title>
</head>
<body>
    {% block body %}
    <div class="main-page">
        {% include '../includes/header.html' %}
        <div class="content">
            <div class="order-wrapper">
                <span>MARKETING</span>
                <button type="button" onclick="openCreateNotificationModal('marketingNotification');">NEW NOTIFICATION</button>
            </div>
            <div class="order-details-wrapper">
                <div class="w-100 h-100 d-flex justify-content-center align-items-center pt-2 pb-2" id="table-loader">
                    <span class="spinner-border spinner-border-md" style="color: #000093;" role="status" aria-hidden="true">
                    </span>
                </div>
                {% include '../ajax/marketing-table.html' %}
            </div>
        </div>
    </div>

    {% include '../modals/marketing-notification-modal.html' %}

    {% endblock %}
</body>
{% block scripts %}
<script src="{% static 'Assets/customer/js/marketing.js' %}"></script>
<script src="{% static 'Assets/modals/js/createNotificationModal.js' %}"></script>
{% endblock %}
</html>