<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% extends '../layouts/base.html' %}
    {% load static %}

    {% block links %}
    
    <link rel="stylesheet" href="{% static 'Assets/customer/css/source.css' %}" />
    <link rel="stylesheet" href="{% static 'Assets/modals/css/qr_code_modal.css' %}" />
    <link rel="stylesheet" href="{% static 'Assets/modals/css/source_create_modal.css' %}" />

    {% endblock %}

    <title>{% block title %}Homme Source{% endblock %}</title>
</head>
<body>
    {% block body %}
    <div class="main-page">
        {% include '../includes/header.html' %}
        <div class="content">
            <div class="order-wrapper">
                <div class="order-wrapper-header">
                    <span>SOURCE</span>
                    <button type="button" onclick="openCreateSourceModal();">CREATE SOURCE</button>
                </div>
            </div>
            <div class="order-details-wrapper">
                <div class="order-details-filters">
                    <form onsubmit="searchForm(event);">
                        <input type="text" name="search" id="" />
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                            <path opacity="0.5" d="M18.1953 17.8594L13.1953 12.8594M14.862 8.69271C14.862 9.45875 14.7111 10.2173 14.4179 10.925C14.1248 11.6328 13.6951 12.2758 13.1534 12.8175C12.6118 13.3592 11.9687 13.7889 11.261 14.082C10.5532 14.3752 9.79469 14.526 9.02865 14.526C8.2626 14.526 7.50406 14.3752 6.79633 14.082C6.08859 13.7889 5.44553 13.3592 4.90386 12.8175C4.36218 12.2758 3.9325 11.6328 3.63935 10.925C3.3462 10.2173 3.19531 9.45875 3.19531 8.69271C3.19531 7.14561 3.80989 5.66188 4.90386 4.56792C5.99782 3.47396 7.48155 2.85937 9.02865 2.85938C10.5757 2.85937 12.0595 3.47396 13.1534 4.56792C14.2474 5.66188 14.862 7.14561 14.862 8.69271Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </form>
                    <div>
                        <button onclick="reverseTableRows();">
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                                <path d="M15.1198 17.0872L11.7865 13.7539M6.78646 13.7539V3.75391V13.7539ZM6.78646 3.75391L3.45312 7.08724L6.78646 3.75391ZM6.78646 3.75391L10.1198 7.08724L6.78646 3.75391ZM15.1198 7.08724V17.0872V7.08724ZM15.1198 17.0872L18.4531 13.7539L15.1198 17.0872Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="order-details-table-wrapper">
                    <div class="w-100 h-100 d-flex justify-content-center align-items-center pt-2 pb-2" id="table-loader">
                        <span class="spinner-border spinner-border-md" style="color: #000093;" role="status" aria-hidden="true">
                        </span>
                    </div>
                    {% include '../ajax/source-table.html' %}
                </div>
            </div>
        </div>
    </div>

    {% include '../modals/source-create-modal.html' %}

    {% include '../modals/qr-code-modal.html' %}

    {% endblock %}
</body>
{% block scripts %}
<script src="{% static 'Assets/customer/js/source.js' %}"></script>
<script src="{% static 'Assets/modals/js/createSource.js' %}"></script>
<script src="{% static 'Assets/modals/js/qrCodeModal.js' %}"></script>
{% endblock %}
</html>