{% load static %}

<div class="modal fade" id="activityCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="activityCreateLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <form>
                <div class="modal-header border-bottom-0 w-100 justify-content-between">
                    <span>Create Activity</span>
                    <svg class="cursor-pointer" data-bs-dismiss="modal" aria-label="Close" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M13.4672 9.67878C13.8189 8.8295 14 7.91925 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 7.91925 0.18106 8.8295 0.532843 9.67878C0.884626 10.5281 1.40024 11.2997 2.05025 11.9497C2.70026 12.5998 3.47194 13.1154 4.32122 13.4672C5.1705 13.8189 6.08075 14 7 14C7.91925 14 8.8295 13.8189 9.67878 13.4672C10.5281 13.1154 11.2997 12.5998 11.9497 11.9497C12.5998 11.2997 13.1154 10.5281 13.4672 9.67878Z" fill="#D9D9D9"/>
                        <path d="M4.66602 9.33518L6.99962 7.00157M6.99962 7.00157L9.33323 4.66797M6.99962 7.00157L4.66602 4.66797M6.99962 7.00157L9.33323 9.33518" stroke="#3F3F46" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="modal-body">
                    <div class="search-product">
                        <button class="filter-btn" id="activity-type" type="button">
                            <span id="selected-activity-type">Reward Activity</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                                <path d="M14 0.25L7 7.75L0 0.25H14Z" fill="#030706"/>
                            </svg>
                        </button>
                        <div class="filter-dropdown" id="activity-type-dropdown">
                            <div class="radio-btn">
                                <input id="product-purchase" onchange="selectActivityType(event);" type="radio" value="product_purchase" name="activity_type_radio" />
                                <label for="product-purchase" class="radio-label">Product Purchase</label>
                            </div>
                            <div class="radio-btn">
                                <input id="reward-activity" onchange="selectActivityType(event);" type="radio" value="reward_activity" name="activity_type_radio" />
                                <label for="reward-activity" class="radio-label">Reward Activity</label>
                            </div>
                        </div>
                    </div>
                    <div class="order-section hide" id="order-section">
                        <div class="selection-div">
                            <input type="text" maxlength="100" placeholder="Search Customer" name="customer" id="customer-field" autocomplete="off" />
                            <div class="filter-dropdown" id="customer-dropdown">
                                <span class="hide" id="no-customer-text">No Customer</span>
                            </div>
                        </div>
                        <div class="group-inputs hide" id="first-last-name-inputs">
                            <input type="text" placeholder="First Name" name="first_name" id="" />
                            <input type="text" placeholder="Last Name" name="last_name" id="" />
                        </div>
                        <div class="selection-div">
                            <input type="text" maxlength="100" placeholder="Search Product" name="product" id="product-field" autocomplete="off" />
                            <div class="filter-dropdown" id="product-dropdown">
                                <span class="hide" id="no-product-text">No Product</span>
                            </div>
                        </div>
                        <div class="added-products hide" id="added-products-wrapper">
                        </div>
                        <div class="product-totals hide" id="product-totals-wrapper">
                            <div class="sub-values">
                                <div>
                                    <span>Subtotal</span>
                                    <span id="selected-products-subtotal">$0</span>
                                </div>
                                <div>
                                    <span>Discount</span>
                                    <span id="selected-products-discount">0%</span>
                                </div>
                                <div>
                                    <span>Shipping</span>
                                    <input type="number" oninput="updateShippingCost(event);" min="0" value="0" step="0.01" placeholder="Shipping Cost" name="shipping_cost" id="shipping-cost" />
                                </div>
                                <div>
                                    <span>Tax</span>
                                    <span id="calculated-tax">Not Calculated</span>
                                </div>
                            </div>
                            <div class="grand-total">
                                <span>Grand Total</span>
                                <div>
                                    <span id="selected-products-grand-total">$0</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-shipping-details">
                            <div class="product-shipping-header">
                                <span>Shipping Details</span>
                                <div class="cursor-pointer" id="generate-div">
                                    <div class="d-flex justify-content-center align-items-center hide" id="generate-loader">
                                        <span class="spinner-border spinner-border-sm" style="color: #000093;" role="status" aria-hidden="true">
                                        </span>
                                    </div>
                                    <span class="cursor-pointer label-text opacity-point-3-5" id="generate-label-btn" title="Complete shipping details">GENERATE SHIPPING LABEL</span>
                                </div>
                                <div class="cursor-pointer hide" id="label-div" onclick="openShippingLabel();">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.5 5.49844L10.6 1.39844" stroke="#000093" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M11.0001 3.4V1H8.6001" stroke="#000093" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M5.5 1H4.5C2 1 1 2 1 4.5V7.5C1 10 2 11 4.5 11H7.5C10 11 11 10 11 7.5V6.5" stroke="#000093" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <span class="label-text">SHIPPING LABEL</span>
                                </div>
                            </div>
                            <input type="text" onblur="getShippingDetails();" maxlength="255" placeholder="Street Address" name="address" id="" />
                            <div class="group-inputs">
                                <input type="text" onblur="getShippingDetails();" maxlength="50" placeholder="City" name="city" id="" />
                                <div class="selection-input">
                                    <button class="filter-btn" id="states-field" type="button">
                                        <span id="selected-state-text">State</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none">
                                            <path opacity="0.7" d="M10.5 0.5L5.5 5.5L0.5 0.5H10.5Z" fill="#030706"/>
                                        </svg>
                                    </button>
                                    <div class="filter-dropdown" id="states-dropdown">        
                                    </div>
                                </div>
                            </div>
                            <div class="group-inputs">
                                <input type="number" onblur="getShippingDetails();" maxlength="20" placeholder="ZIP" name="zip_code" id="" />
                                <div class="selection-input">
                                    <button class="filter-btn" id="country-field" type="button">
                                        <span id="selected-country-text">Country</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none">
                                            <path opacity="0.7" d="M10.5 0.5L5.5 5.5L0.5 0.5H10.5Z" fill="#030706"/>
                                        </svg>
                                    </button>
                                    <div class="filter-dropdown" id="country-dropdown">
                                    </div>
                                </div>
                            </div>
                            <textarea name="notes" placeholder="Add Notes..." id="order-notes" maxlength="500" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="reward-section" id="reward-section">
                        <div class="selection-div">
                            <input type="text" maxlength="100" placeholder="Select Customer" name="reward_customer" id="reward-customer-field" autocomplete="off" />
                            <div class="filter-dropdown" id="reward-customer-dropdown">
                                <span class="hide" id="no-reward-customer-text">No Customer</span>
                            </div>
                        </div>
                        <div class="search-product" id="credits-input-wrapper">
                            <input type="number" min="1" oninput="getRewardDetails();" step="any" placeholder="Credits" name="points" id="" />
                        </div>
                        <textarea name="reward_notes" maxlength="500" oninput="getRewardDetails();" placeholder="Add Notes..." id="" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="error-div" style="text-align: left;">
                    <small style="text-align: left;" class="create-error-msg input-error-msg"></small>
                </div>
                <div class="modal-footer border-top-0">
                    <button class="submit-btn" type="button" data-bs-dismiss="modal">
                        DISCARD
                    </button>
                    <button id="submit-btn" class="submit-btn" type="button" onclick="rewardCreate(event);">
                        <span class="spinner-border spinner-border-sm hide" role="status" aria-hidden="true"></span>
                        <span class="btn-text">CREATE</span>
                    </button>
                    <button id="order-submit-btn" class="submit-btn hide" type="button" onclick="orderCreate(event);">
                        <span class="spinner-border spinner-border-sm hide" role="status" aria-hidden="true"></span>
                        <span class="btn-text">CREATE</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<input type="hidden" class="activityCreate" data-bs-toggle="modal" data-bs-target="#activityCreate" />