<div class="modal fade" id="activityProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="activityProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <form action="">
                <!-- {% csrf_token %} -->
                <div class="modal-header border-bottom-0 w-100 justify-content-between">
                    <span>Product Purchase</span>
                    <svg class="cursor-pointer" data-bs-dismiss="modal" aria-label="Close" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M13.4672 9.67878C13.8189 8.8295 14 7.91925 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 7.91925 0.18106 8.8295 0.532843 9.67878C0.884626 10.5281 1.40024 11.2997 2.05025 11.9497C2.70026 12.5998 3.47194 13.1154 4.32122 13.4672C5.1705 13.8189 6.08075 14 7 14C7.91925 14 8.8295 13.8189 9.67878 13.4672C10.5281 13.1154 11.2997 12.5998 11.9497 11.9497C12.5998 11.2997 13.1154 10.5281 13.4672 9.67878Z" fill="#D9D9D9"/>
                        <path d="M4.66602 9.33518L6.99962 7.00157M6.99962 7.00157L9.33323 4.66797M6.99962 7.00157L4.66602 4.66797M6.99962 7.00157L9.33323 9.33518" stroke="#3F3F46" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="modal-body">
                    <div class="activity-product-stats">
                        <div class="total-amount">
                            <div>
                                <span>Total $</span>
                            </div>
                            <div>
                                <span>$50.00</span>
                            </div>
                        </div>
                        <div class="rewards-earned">
                            <div>
                                <span>Rewards Earned</span>
                            </div>
                            <div>
                                <span>50</span>
                            </div>
                        </div>
                        <div class="associated-salon">
                            <div>
                                <span>Associated Salon</span>
                            </div>
                            <div>
                                <span>Redge NYC</span>
                            </div>
                        </div>
                        <div class="order-status">
                            <div>
                                <span>Order Status</span>
                            </div>
                            <div>
                                <span>Picked Up</span>
                            </div>
                        </div>
                        <div class="tracking-link">
                            <div>
                                <span>Tracking Link</span>
                            </div>
                            <div>
                                <span>ORDER TRACKING</span>
                            </div>
                        </div>
                        <div class="location">
                            <div>
                                <span>Location</span>
                            </div>
                            <div>
                                <span>Syracuse, Connecticut</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-top-0">
                    <button id="data-id" class="submit-btn" type="button" data-bs-dismiss="modal">
                        OK
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<input type="hidden" class="activityProduct" data-bs-toggle="modal" data-bs-target="#activityProduct" />