{% load static %}

<div class="modal fade" id="eventCreateOffer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="eventCreateOfferLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <form>
                {% csrf_token %}
                <div class="modal-header border-bottom-0 w-100 justify-content-between">
                    <span id="special-offer-modal-header-text">Create Special Offer</span>
                    <svg class="cursor-pointer" data-bs-dismiss="modal" aria-label="Close" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M13.4672 9.67878C13.8189 8.8295 14 7.91925 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 7.91925 0.18106 8.8295 0.532843 9.67878C0.884626 10.5281 1.40024 11.2997 2.05025 11.9497C2.70026 12.5998 3.47194 13.1154 4.32122 13.4672C5.1705 13.8189 6.08075 14 7 14C7.91925 14 8.8295 13.8189 9.67878 13.4672C10.5281 13.1154 11.2997 12.5998 11.9497 11.9497C12.5998 11.2997 13.1154 10.5281 13.4672 9.67878Z" fill="#D9D9D9"/>
                        <path d="M4.66602 9.33518L6.99962 7.00157M6.99962 7.00157L9.33323 4.66797M6.99962 7.00157L4.66602 4.66797M6.99962 7.00157L9.33323 9.33518" stroke="#3F3F46" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="modal-body">
                    <div class="general-inputs">
                        <input maxlength="100" type="text" name="title" placeholder="Title" />
                        <input maxlength="100" type="text" name="sub_title" placeholder="Sub-Title" />
                        <input maxlength="255" type="text" name="summary" placeholder="Offer Summary..." />
                        <div class="select-products-div">
                            <button type="button" id="product-select-btn">
                                <span id="selected-product-name">Specify Product</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                                    <path d="M14 0L7.39941 8.00071L0.798828 0H14Z" fill="#030706"/>
                                </svg>
                            </button>
                            <div class="product-search-wrapper hide" id="product-search-wrapper">
                                <div class="search-header">
                                    <svg class="search-icon" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.4531 17.9219L13.4531 12.9219M15.1198 8.75521C15.1198 9.52125 14.9689 10.2798 14.6758 10.9875C14.3826 11.6953 13.9529 12.3383 13.4112 12.88C12.8696 13.4217 12.2265 13.8514 11.5188 14.1445C10.811 14.4377 10.0525 14.5885 9.28646 14.5885C8.52041 14.5885 7.76187 14.4377 7.05414 14.1445C6.34641 13.8514 5.70334 13.4217 5.16167 12.88C4.61999 12.3383 4.19031 11.6953 3.89716 10.9875C3.60401 10.2798 3.45312 9.52125 3.45313 8.75521C3.45313 7.20811 4.06771 5.72438 5.16167 4.63042C6.25563 3.53646 7.73936 2.92187 9.28646 2.92188C10.8336 2.92187 12.3173 3.53646 13.4112 4.63042C14.5052 5.72438 15.1198 7.20811 15.1198 8.75521Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <input maxlength="100" type="text" oninput="searchProduct(this);" onkeypress="checkEnter(event);" placeholder="SEARCH PRODUCT" />
                                </div>
                                <div class="product-list-wrapper">
                                    <div id="product-list-items-wrapper">
                                        <span class="hide" id="no-product-text">No Product</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="number" name="discount_percent" min="0" step="0.01" max="100" placeholder="Discount Percentage" />
                        <textarea maxlength="500" name="description" placeholder="Offer Description..." id="" cols="30" rows="10"></textarea>
                        <input maxlength="100" type="text" name="venue_name" placeholder="Venue Name (Optional)" />
                        <input maxlength="255" type="text" name="venue_address" placeholder="Venue Address (Optional)" />
                        <input maxlength="2083" type="url" name="venue_link" placeholder="Hyperlink (Optional)" />
                    </div>
                    <div class="image-wrapper">
                        <label for="special-offer-img" id="special-image-label">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="35" viewBox="0 0 50 35" fill="none">
                                <path d="M42.36 15.28C41.2675 6.675 33.9 0 25 0C18.11 0 12.125 4.0275 9.3925 10.375C4.0225 11.98 0 17.05 0 22.5C0 29.3925 5.6075 35 12.5 35H40C45.515 35 50 30.515 50 25C49.9962 22.759 49.2416 20.5839 47.8567 18.8221C46.4719 17.0602 44.5366 15.8131 42.36 15.28ZM27.5 22.5V30H22.5V22.5H15L25 10L35 22.5H27.5Z" fill="#000093"/>
                            </svg>
                            <input type="file" accept="image/jpeg, image/jpg, image/png" name="image" id="special-offer-img" oninput="verifyOfferImage(this);" />
                            <span>Upload an Image</span>
                            <span>(supported dimension: 1000x1000px)</span>
                            <img src="" class="event-img hide" name="image" alt="event image" id="special-offer-image" />
                        </label>
                    </div>
                    <div class="special-error-div hide">
                        <small class="create-special-error-msg input-error-msg"></small>
                    </div>
                </div>
                <div class="modal-footer border-top-0">
                    <button id="data-id" class="submit-btn" type="button" data-bs-dismiss="modal">
                        CANCEL
                    </button>
                    <button type="submit">
                        <span class="spinner-border spinner-border-sm hide" role="status" aria-hidden="true"></span>
                        <span class="btn-text">SAVE</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<input type="hidden" class="eventCreateOffer" data-bs-toggle="modal" data-bs-target="#eventCreateOffer" />