{% load static %}

<div class="modal fade" id="eventCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="eventCreateLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <form id="add-product-form">
                {% csrf_token %}
                <div class="modal-header border-bottom-0 w-100 justify-content-between">
                    <span>Create New Event</span>
                    <svg class="cursor-pointer" data-bs-dismiss="modal" aria-label="Close" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M13.4672 9.67878C13.8189 8.8295 14 7.91925 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 7.91925 0.18106 8.8295 0.532843 9.67878C0.884626 10.5281 1.40024 11.2997 2.05025 11.9497C2.70026 12.5998 3.47194 13.1154 4.32122 13.4672C5.1705 13.8189 6.08075 14 7 14C7.91925 14 8.8295 13.8189 9.67878 13.4672C10.5281 13.1154 11.2997 12.5998 11.9497 11.9497C12.5998 11.2997 13.1154 10.5281 13.4672 9.67878Z" fill="#D9D9D9"/>
                        <path d="M4.66602 9.33518L6.99962 7.00157M6.99962 7.00157L9.33323 4.66797M6.99962 7.00157L4.66602 4.66797M6.99962 7.00157L9.33323 9.33518" stroke="#3F3F46" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="modal-body">
                    <div class="general-inputs">
                        <input type="text" name="title" placeholder="Title" />
                        <input type="text" name="sub_title" placeholder="Sub-Title" />
                        <input type="text" name="short_description" placeholder="Short Description..." />
                        <textarea name="long_description" placeholder="Long Description..." id="" cols="30" rows="10"></textarea>
                        <input type="text" name="venue_name" placeholder="Venue Name" />
                        <input type="text" name="venue_address" placeholder="Venue Address" />
                        <input type="text" name="rsvp_link" placeholder="Enter RSVP link" />
                    </div>
                    <div class="image-wrapper">
                        <label for="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="35" viewBox="0 0 50 35" fill="none">
                                <path d="M42.36 15.28C41.2675 6.675 33.9 0 25 0C18.11 0 12.125 4.0275 9.3925 10.375C4.0225 11.98 0 17.05 0 22.5C0 29.3925 5.6075 35 12.5 35H40C45.515 35 50 30.515 50 25C49.9962 22.759 49.2416 20.5839 47.8567 18.8221C46.4719 17.0602 44.5366 15.8131 42.36 15.28ZM27.5 22.5V30H22.5V22.5H15L25 10L35 22.5H27.5Z" fill="#000093"/>
                            </svg>
                            <input type="file" accept="image/jpeg, image/jpg, image/png" name="prod_buy_page_img" id="buy-page" oninput="previewImage(event);" />
                            <span>Upload an Image</span>
                            <span>(supported dimension: 330x330px)</span>
                        </label>
                    </div>
                    <!-- <div class="add-media-wrapper">
                        <span>Add Media</span>
                        <div class="add-media-inputs">
                            <div class="media-input">
                                <span>Buy Page</span>
                                <div>
                                    <label class="cursor-pointer" for="buy-page">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="52" height="35" viewBox="0 0 52 35" fill="none">
                                            <path d="M43.8023 15.28C42.6902 6.675 35.1908 0 26.1314 0C19.118 0 13.0258 4.0275 10.2443 10.375C4.77814 11.98 0.683594 17.05 0.683594 22.5C0.683594 29.3925 6.39153 35 13.4075 35H41.4C47.0138 35 51.5791 30.515 51.5791 25C51.5752 22.759 50.8071 20.5839 49.3975 18.8221C47.9878 17.0602 46.0179 15.8131 43.8023 15.28ZM28.6761 22.5V30H23.5866V22.5H15.9523L26.1314 10L36.3105 22.5H28.6761Z" fill="#000093"/>
                                        </svg>
                                        <span>Upload an Image</span>
                                        <input type="file" accept="image/jpeg, image/jpg, image/png" name="prod_buy_page_img" id="buy-page" oninput="previewImage(event);" />
                                        <img class="product-image hide" src="" alt="product image" />
                                    </label>
                                </div>
                            </div>
                            <div class="media-input">
                                <span>Product Detail</span>
                                <div>
                                    <label class="cursor-pointer" for="prod-detail-img-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="52" height="35" viewBox="0 0 52 35" fill="none">
                                            <path d="M43.8023 15.28C42.6902 6.675 35.1908 0 26.1314 0C19.118 0 13.0258 4.0275 10.2443 10.375C4.77814 11.98 0.683594 17.05 0.683594 22.5C0.683594 29.3925 6.39153 35 13.4075 35H41.4C47.0138 35 51.5791 30.515 51.5791 25C51.5752 22.759 50.8071 20.5839 49.3975 18.8221C47.9878 17.0602 46.0179 15.8131 43.8023 15.28ZM28.6761 22.5V30H23.5866V22.5H15.9523L26.1314 10L36.3105 22.5H28.6761Z" fill="#000093"/>
                                        </svg>
                                        <span>Upload an Image</span>
                                        <input type="file" accept="image/jpeg, image/jpg, image/png" name="prod_detail_img_1" id="prod-detail-img-1" oninput="previewImage(event);" />
                                        <img class="product-image hide" src="" alt="product image" />
                                    </label>                                    
                                </div>
                            </div>
                            <div class="media-input">
                                <span>Product Detail</span>
                                <div>
                                    <label class="cursor-pointer" for="prod-detail-img-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="52" height="35" viewBox="0 0 52 35" fill="none">
                                            <path d="M43.8023 15.28C42.6902 6.675 35.1908 0 26.1314 0C19.118 0 13.0258 4.0275 10.2443 10.375C4.77814 11.98 0.683594 17.05 0.683594 22.5C0.683594 29.3925 6.39153 35 13.4075 35H41.4C47.0138 35 51.5791 30.515 51.5791 25C51.5752 22.759 50.8071 20.5839 49.3975 18.8221C47.9878 17.0602 46.0179 15.8131 43.8023 15.28ZM28.6761 22.5V30H23.5866V22.5H15.9523L26.1314 10L36.3105 22.5H28.6761Z" fill="#000093"/>
                                        </svg>
                                        <span>Upload an Image</span>
                                        <input type="file" accept="image/jpeg, image/jpg, image/png" name="prod_detail_img_2" id="prod-detail-img-2" oninput="previewImage(event);" />
                                        <img class="product-image hide" src="" alt="product image" />
                                    </label>
                                </div>
                            </div>
                            <div class="media-input">
                                <span>Product Detail</span>
                                <div>
                                    <label class="cursor-pointer" for="prod-detail-img-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="52" height="35" viewBox="0 0 52 35" fill="none">
                                            <path d="M43.8023 15.28C42.6902 6.675 35.1908 0 26.1314 0C19.118 0 13.0258 4.0275 10.2443 10.375C4.77814 11.98 0.683594 17.05 0.683594 22.5C0.683594 29.3925 6.39153 35 13.4075 35H41.4C47.0138 35 51.5791 30.515 51.5791 25C51.5752 22.759 50.8071 20.5839 49.3975 18.8221C47.9878 17.0602 46.0179 15.8131 43.8023 15.28ZM28.6761 22.5V30H23.5866V22.5H15.9523L26.1314 10L36.3105 22.5H28.6761Z" fill="#000093"/>
                                        </svg>
                                        <span>Upload an Image</span>
                                        <input type="file" accept="image/jpeg, image/jpg, image/png" name="prod_detail_img_3" id="prod-detail-img-3" oninput="previewImage(event);" />
                                        <img class="product-image hide" src="" alt="product image" />
                                    </label>
                                </div>
                            </div>
                            <div class="media-input">
                                <span>Product Detail</span>
                                <div>
                                    <label class="cursor-pointer" for="prod-detail-img-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="52" height="35" viewBox="0 0 52 35" fill="none">
                                            <path d="M43.8023 15.28C42.6902 6.675 35.1908 0 26.1314 0C19.118 0 13.0258 4.0275 10.2443 10.375C4.77814 11.98 0.683594 17.05 0.683594 22.5C0.683594 29.3925 6.39153 35 13.4075 35H41.4C47.0138 35 51.5791 30.515 51.5791 25C51.5752 22.759 50.8071 20.5839 49.3975 18.8221C47.9878 17.0602 46.0179 15.8131 43.8023 15.28ZM28.6761 22.5V30H23.5866V22.5H15.9523L26.1314 10L36.3105 22.5H28.6761Z" fill="#000093"/>
                                        </svg>
                                        <span>Upload an Image</span>
                                        <input type="file" accept="image/jpeg, image/jpg, image/png" name="prod_detail_img_4" id="prod-detail-img-4" oninput="previewImage(event);" />
                                        <img class="product-image hide" src="" alt="product image" />
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="error-div">
                        <small class="create-error-msg input-error-msg"></small>
                    </div>
                </div>
                <div class="modal-footer border-top-0">
                    <button id="data-id" class="submit-btn" type="button" data-bs-dismiss="modal">
                        CANCEL
                    </button>
                    <button type="submit">
                        <span class="spinner-border spinner-border-sm hide" role="status" aria-hidden="true"></span>
                        <span class="btn-text">SAVE</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<input type="hidden" class="eventCreate" data-bs-toggle="modal" data-bs-target="#eventCreate" />