<div class="modal fade" id="manageHairstylist" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="manageHairstylistLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center hide">
            <form action="">
                <!-- {% csrf_token %} -->
                <div class="modal-header border-bottom-0 w-100 justify-content-between">
                    <span>Manage Hairstylists</span>
                    <svg class="cursor-pointer" data-bs-dismiss="modal" aria-label="Close" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M13.4672 9.67878C13.8189 8.8295 14 7.91925 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 7.91925 0.18106 8.8295 0.532843 9.67878C0.884626 10.5281 1.40024 11.2997 2.05025 11.9497C2.70026 12.5998 3.47194 13.1154 4.32122 13.4672C5.1705 13.8189 6.08075 14 7 14C7.91925 14 8.8295 13.8189 9.67878 13.4672C10.5281 13.1154 11.2997 12.5998 11.9497 11.9497C12.5998 11.2997 13.1154 10.5281 13.4672 9.67878Z" fill="#D9D9D9"/>
                        <path d="M4.66602 9.33518L6.99962 7.00157M6.99962 7.00157L9.33323 4.66797M6.99962 7.00157L4.66602 4.66797M6.99962 7.00157L9.33323 9.33518" stroke="#3F3F46" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="modal-body">
                    <div>
                        <table class="hairstylist-table" id="hairstylist-table">
                            <thead>
                                <tr>
                                    <th width="167px">
                                        <div>
                                            <span>Name</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                                                <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                                                <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                                            </svg>
                                        </div>
                                    </th>
                                    <th width="165px">
                                        <div>
                                            <span>Contact</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                                                <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                                                <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                                            </svg>
                                        </div>
                                    </th>
                                    <th width="129px">
                                        <div>
                                            <span>Status</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                                                <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                                                <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                                            </svg>
                                        </div>
                                    </th>
                                    <th width="154px">
                                        <div>
                                            <span>Action</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                                                <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                                                <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                                            </svg>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="error-div">
                    <small class="update-error-msg input-error-msg"></small>
                </div>
                <div class="modal-footer border-top-0">
                    <button type="button" data-bs-dismiss="modal">CLOSE</button>
                    <button class="submit-btn" type="button" data-bs-dismiss="modal">
                        <span class="spinner-border spinner-border-sm hide" role="status" aria-hidden="true"></span>
                        <span class="btn-text">SAVE</span>
                    </button>
                </div>
            </form>
        </div>
        <div class="w-100 d-flex justify-content-center align-items-center pt-2 pb-2 modal-loader">
            <span class="spinner-border spinner-border-md" style="color: #000093;" role="status"
                aria-hidden="true"></span>
        </div>
    </div>
</div>
<input type="hidden" class="manageHairstylist" data-bs-toggle="modal" data-bs-target="#manageHairstylist" />