{% load static %}

<div class="modal fade" id="salonCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="salonCreateLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <form onsubmit="createSalonForm(event);">
                <div class="modal-header border-bottom-0 w-100 justify-content-between">
                    <span>Add New Salon</span>
                    <svg class="cursor-pointer" data-bs-dismiss="modal" aria-label="Close" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M13.4672 9.67878C13.8189 8.8295 14 7.91925 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 7.91925 0.18106 8.8295 0.532843 9.67878C0.884626 10.5281 1.40024 11.2997 2.05025 11.9497C2.70026 12.5998 3.47194 13.1154 4.32122 13.4672C5.1705 13.8189 6.08075 14 7 14C7.91925 14 8.8295 13.8189 9.67878 13.4672C10.5281 13.1154 11.2997 12.5998 11.9497 11.9497C12.5998 11.2997 13.1154 10.5281 13.4672 9.67878Z" fill="#D9D9D9"/>
                        <path d="M4.66602 9.33518L6.99962 7.00157M6.99962 7.00157L9.33323 4.66797M6.99962 7.00157L4.66602 4.66797M6.99962 7.00157L9.33323 9.33518" stroke="#3F3F46" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="modal-body">
                    <div class="general-info-wrapper">
                        <div class="general-info-header">
                            <span>General Information</span>
                        </div>
                        <div class="general-info-input">
                            <input maxlength="100" type="text" placeholder="Name" name="person_name" id="" />
                            <input maxlength="15" type="tel" placeholder="Phone Number" name="person_phone" id="" />
                            <input maxlength="100" type="email" placeholder="Email Address" name="person_email" id="" />
                            <input maxlength="100" type="text" placeholder="Salon Name" name="salon_name" id="" />
                        </div>
                    </div>
                    <div class="general-info-wrapper">
                        <div class="general-info-header">
                            <span>Entity Information</span>
                        </div>
                        <div class="entity-info-input">
                            <input maxlength="100" type="text" placeholder="Full Legal Name" name="legal_name" id="" />
                            <input maxlength="100" type="text" placeholder="Doing Business As (DBA) (Optional)" name="business_name" id="" />
                            <input maxlength="100" type="text" placeholder="Tax Payer ID (Optional)" name="tax_id" id="" />
                            <input maxlength="100" type="text" placeholder="Dunn & Bradstreet Number (Optional)" name="street_number" id="" />
                        </div>
                    </div>
                    <div class="general-info-wrapper">
                        <div class="general-info-header">
                            <span>Legal Address</span>
                        </div>
                        <div class="legal-info-input">
                            <div>
                                <input maxlength="255" type="text" placeholder="Address 1" name="legal_street1" id="" />
                                <input maxlength="255" type="text" placeholder="Address 2 (Optional)" name="legal_street2" id="" />
                                <input maxlength="50" type="text" placeholder="City" name="legal_city" id="" />
                            </div>
                            <div>
                                <div class="selection-input">
                                    <button class="filter-btn" id="legal-states-field" type="button">
                                        <span id="selected-legal-state-text">State</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none">
                                            <path opacity="0.7" d="M10.5 0.5L5.5 5.5L0.5 0.5H10.5Z" fill="#030706"/>
                                        </svg>
                                    </button>
                                    <div class="filter-dropdown" id="legal-states-dropdown">        
                                    </div>
                                </div>
                                <!-- <input type="text" placeholder="State" name="legal_state" id="" /> -->
                                <input maxlength="20" type="number" placeholder="ZIP" name="legal_zip_code" id="" />
                                <div class="selection-input">
                                    <button class="filter-btn" id="legal-country-field" type="button">
                                        <span id="selected-legal-country-text">Country</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none">
                                            <path opacity="0.7" d="M10.5 0.5L5.5 5.5L0.5 0.5H10.5Z" fill="#030706"/>
                                        </svg>
                                    </button>
                                    <div class="filter-dropdown" id="legal-country-dropdown">
                                    </div>
                                </div>
                                <!-- <input type="text" placeholder="Country" name="legal_country" id="" /> -->
                            </div>
                        </div>
                    </div>
                    <div class="general-info-wrapper">
                        <div class="general-info-header">
                            <span>Salon Information</span>
                        </div>
                        <div class="salon-info-input">
                            <div class="salon-image-input">
                                <label for="salon-image" class="cursor-pointer image-label">
                                    <svg class="opacity-point-6" xmlns="http://www.w3.org/2000/svg" width="51" height="35" viewBox="0 0 51 35" fill="none">
                                        <path d="M42.86 15.28C41.7675 6.675 34.4 0 25.5 0C18.61 0 12.625 4.0275 9.8925 10.375C4.5225 11.98 0.5 17.05 0.5 22.5C0.5 29.3925 6.1075 35 13 35H40.5C46.015 35 50.5 30.515 50.5 25C50.4962 22.759 49.7416 20.5839 48.3567 18.8221C46.9719 17.0602 45.0366 15.8131 42.86 15.28ZM28 22.5V30H23V22.5H15.5L25.5 10L35.5 22.5H28Z" fill="black"/>
                                    </svg>
                                    <span class="opacity-point-6">Upload an image</span>
                                    <span class="opacity-point-6">supported dimension: 1000x1000px</span>
                                    <input type="file" accept="image/jpeg, image/jpg, image/png" name="salon_picture" id="salon-image" oninput="previewImage(event, this);" />
                                    <img class="salon-image hide" src="" alt="salon image" />
                                </label>
                            </div>
                            <div class="salon-detail-input">
                                <div>
                                    <input maxlength="2083" type="url" placeholder="Website" name="salon_website" id="" />
                                    <input maxlength="15" type="tel" placeholder="Phone" name="salon_phone" id="" />
                                </div>
                                <div>
                                    <input maxlength="2083" type="url" placeholder="Map Link" name="salon_map" id="" />
                                    <input maxlength="255" type="text" placeholder="Add Short Description..." name="salon_description" id="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="general-info-wrapper">
                        <div class="general-info-header">
                            <span>Salon Address</span>
                        </div>
                        <div class="legal-info-input">
                            <div>
                                <input maxlength="255" type="text" placeholder="Address 1" name="salon_street1" id="" />
                                <input maxlength="255" type="text" placeholder="Address 2 (Optional)" name="salon_street2" id="" />
                                <input maxlength="50" type="text" placeholder="City" name="salon_city" id="" />
                            </div>
                            <div>
                                <div class="selection-input">
                                    <button class="filter-btn" id="salon-states-field" type="button">
                                        <span id="selected-salon-state-text">State</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none">
                                            <path opacity="0.7" d="M10.5 0.5L5.5 5.5L0.5 0.5H10.5Z" fill="#030706"/>
                                        </svg>
                                    </button>
                                    <div class="filter-dropdown" id="salon-states-dropdown">        
                                    </div>
                                </div>
                                <!-- <input type="text" placeholder="State" name="salon_state" id="" /> -->
                                <input maxlength="20" type="number" placeholder="ZIP" name="salon_zip_code" id="" />
                                <div class="selection-input">
                                    <button class="filter-btn" id="salon-country-field" type="button">
                                        <span id="selected-salon-country-text">Country</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none">
                                            <path opacity="0.7" d="M10.5 0.5L5.5 5.5L0.5 0.5H10.5Z" fill="#030706"/>
                                        </svg>
                                    </button>
                                    <div class="filter-dropdown" id="salon-country-dropdown">
                                    </div>
                                </div>
                                <!-- <input type="text" placeholder="Country" name="salon_country" id="" /> -->
                            </div>
                        </div>
                    </div>
                    <div class="general-info-wrapper">
                        <div class="general-info-header">
                            <span>Payment Detail</span>
                        </div>
                        <div class="legal-info-input">
                            <div class="flex-wrap">
                                <div class="selection-input">
                                    <button class="filter-btn" id="payment-type" type="button">
                                        <span id="selected-payment-type">Select Payment Type (Optional)</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none">
                                            <path opacity="0.7" d="M10.5 0.5L5.5 5.5L0.5 0.5H10.5Z" fill="#030706"/>
                                        </svg>
                                    </button>
                                    <div class="filter-dropdown" id="payment-type-dropdown">
                                        <div class="radio-btn">
                                            <input onchange="selectPaymentType(event);" id="payment-type-1" data-id="ach" type="radio" value="ach" name="payment_type" />
                                            <label for="payment-type-1" class="radio-label">ACH</label>
                                        </div>
                                        <div class="radio-btn">
                                            <input onchange="selectPaymentType(event);" id="payment-type-2" data-id="check" type="radio" value="check" name="payment_type" />
                                            <label for="payment-type-2" class="radio-label">Cheque</label>
                                        </div>
                                    </div>
                                </div>
                                <input maxlength="100" type="text" placeholder="Name (Optional)" data-name="for_ach" name="name_on_account" id="" />
                                <input maxlength="100" type="text" placeholder="Bank (Optional)" data-name="for_ach" name="bank_name" id="" />
                                <input maxlength="255" class="hide" type="text" placeholder="Address 1 (Optional)" data-name="for_cheque" name="payment_street1" id="" />
                                <input maxlength="100" type="text" placeholder="Routing Number (Optional)" data-name="for_ach" name="routing_number" id="" />
                                <input maxlength="100" type="text" placeholder="Account Number (Optional)" data-name="for_ach" name="account_number" id="" />
                                <input maxlength="255" class="hide" type="text" placeholder="Address 2 (Optional)" data-name="for_cheque" name="payment_street2" id="" />
                                <input maxlength="50" class="hide" type="text" placeholder="City (Optional)" data-name="for_cheque" name="payment_city" id="" />
                                
                                <div class="selection-input hide" data-name="for_cheque">
                                    <button class="filter-btn" id="payment-states-field" type="button">
                                        <span id="selected-payment-state-text">State (Optional)</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none">
                                            <path opacity="0.7" d="M10.5 0.5L5.5 5.5L0.5 0.5H10.5Z" fill="#030706"/>
                                        </svg>
                                    </button>
                                    <div class="filter-dropdown" id="payment-states-dropdown">        
                                    </div>
                                </div>
                                <!-- <input class="hide" type="text" placeholder="State (Optional)" data-name="for_cheque" name="payment_state" id="" /> -->
                                
                                <input maxlength="20" class="hide" type="number" placeholder="ZIP (Optional)" data-name="for_cheque" name="payment_zip_code" id="" />
                                
                                <div class="selection-input hide" data-name="for_cheque">
                                    <button class="filter-btn" id="payment-country-field" type="button">
                                        <span id="selected-payment-country-text">Country (Optional)</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none">
                                            <path opacity="0.7" d="M10.5 0.5L5.5 5.5L0.5 0.5H10.5Z" fill="#030706"/>
                                        </svg>
                                    </button>
                                    <div class="filter-dropdown" id="payment-country-dropdown">
                                    </div>
                                </div>
                                <!-- <input class="hide" type="text" placeholder="Country" data-name="for_cheque" name="payment_country" id="" /> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="error-div" style="text-align: left;">
                        <small style="text-align: left;" class="create-error-msg input-error-msg"></small>
                    </div>
                    <button id="data-id" class="submit-btn" type="submit">
                        <span class="spinner-border spinner-border-sm hide" role="status" aria-hidden="true"></span>
                        <span class="btn-text">SAVE</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<input type="hidden" class="salonCreate" data-bs-toggle="modal" data-bs-target="#salonCreate" />