{% load static %}

<div class="modal fade" id="salonMarketingNotification" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="salonMarketingNotificationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <form>
                <div class="modal-header border-bottom-0 w-100 justify-content-between">
                    <span id="salon-marketing-notification-modal-header">Create New Notification</span>
                    <svg class="cursor-pointer" data-bs-dismiss="modal" aria-label="Close" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M13.4672 9.67878C13.8189 8.8295 14 7.91925 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 7.91925 0.18106 8.8295 0.532843 9.67878C0.884626 10.5281 1.40024 11.2997 2.05025 11.9497C2.70026 12.5998 3.47194 13.1154 4.32122 13.4672C5.1705 13.8189 6.08075 14 7 14C7.91925 14 8.8295 13.8189 9.67878 13.4672C10.5281 13.1154 11.2997 12.5998 11.9497 11.9497C12.5998 11.2997 13.1154 10.5281 13.4672 9.67878Z" fill="#D9D9D9"/>
                        <path d="M4.66602 9.33518L6.99962 7.00157M6.99962 7.00157L9.33323 4.66797M6.99962 7.00157L4.66602 4.66797M6.99962 7.00157L9.33323 9.33518" stroke="#3F3F46" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="modal-body">
                    <input maxlength="100" type="text" required placeholder="Notification title here ....." name="title" id="salon-marketing-notification-title" />
                    <div class="select-salon-state-div">
                        <button type="button" id="notification-state-select-btn">
                            <span id="selected-state-name">Select Target</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                                <path d="M14 0L7.39941 8.00071L0.798828 0H14Z" fill="#030706"/>
                            </svg>
                        </button>
                        <div class="state-search-wrapper hide" id="notification-state-search-wrapper">
                            <div class="search-header">
                                <svg class="search-icon" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.4531 17.9219L13.4531 12.9219M15.1198 8.75521C15.1198 9.52125 14.9689 10.2798 14.6758 10.9875C14.3826 11.6953 13.9529 12.3383 13.4112 12.88C12.8696 13.4217 12.2265 13.8514 11.5188 14.1445C10.811 14.4377 10.0525 14.5885 9.28646 14.5885C8.52041 14.5885 7.76187 14.4377 7.05414 14.1445C6.34641 13.8514 5.70334 13.4217 5.16167 12.88C4.61999 12.3383 4.19031 11.6953 3.89716 10.9875C3.60401 10.2798 3.45312 9.52125 3.45313 8.75521C3.45313 7.20811 4.06771 5.72438 5.16167 4.63042C6.25563 3.53646 7.73936 2.92187 9.28646 2.92188C10.8336 2.92187 12.3173 3.53646 13.4112 4.63042C14.5052 5.72438 15.1198 7.20811 15.1198 8.75521Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <input maxlength="100" type="text" oninput="searchState(this);" onkeypress="checkEnter(event);" placeholder="SEARCH STATE" />
                            </div>
                            <div class="state-list-wrapper">
                                <div id="notification-state-list-items-wrapper">
                                    <span class="hide" id="no-state-text">No State</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="selection-input hide">
                        <button class="filter-btn" id="target-type" type="button">
                            <span id="selected-target-type">Select target</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none">
                                <path opacity="0.7" d="M10.5 0.5L5.5 5.5L0.5 0.5H10.5Z" fill="#030706"/>
                            </svg>
                        </button>
                        <div class="filter-dropdown" id="target-type-dropdown">
                        </div>
                    </div>
                    <div class="w-100 h-100 d-flex justify-content-center align-items-center pb-2 hide" id="salon-loader">
                        <span class="spinner-border spinner-border-md" style="color: #000093;" role="status" aria-hidden="true">
                        </span>
                    </div>
                    <div class="selected-salons-wrapper hide" id="salons-wrapper">
                        <button type="button" id="salon-select-btn">Select Salons....</button>
                        <div class="selected-salons hide" id="selected-salons">
                        </div>
                        <div class="salon-search-wrapper hide" id="salon-search-wrapper">
                            <div class="search-header">
                                <div>
                                    <svg class="search-icon" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.4531 17.9219L13.4531 12.9219M15.1198 8.75521C15.1198 9.52125 14.9689 10.2798 14.6758 10.9875C14.3826 11.6953 13.9529 12.3383 13.4112 12.88C12.8696 13.4217 12.2265 13.8514 11.5188 14.1445C10.811 14.4377 10.0525 14.5885 9.28646 14.5885C8.52041 14.5885 7.76187 14.4377 7.05414 14.1445C6.34641 13.8514 5.70334 13.4217 5.16167 12.88C4.61999 12.3383 4.19031 11.6953 3.89716 10.9875C3.60401 10.2798 3.45312 9.52125 3.45313 8.75521C3.45313 7.20811 4.06771 5.72438 5.16167 4.63042C6.25563 3.53646 7.73936 2.92187 9.28646 2.92188C10.8336 2.92187 12.3173 3.53646 13.4112 4.63042C14.5052 5.72438 15.1198 7.20811 15.1198 8.75521Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <input maxlength="100" type="text" name="search" oninput="searchSalon(event);" value="" placeholder="SEARCH SALON" />
                                </div>
                                <button class="hide" type="button" id="add-salons-btn" onclick="addSelectedSalons(event);" disabled>ADD SALONS</button>
                            </div>
                            <div class="salon-list-wrapper">
                                <div id="salon-list-items-wrapper">
                                    <span class="hide" id="no-salon-text">No Salon</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="notification-notes">
                        <textarea name="text" required id="salon-marketing-notification-description" cols="30" rows="10" placeholder="Add notification text here .....                                         Maximum 160 Characters" maxlength="160"></textarea>
                    </div>
                    <div class="error-div">
                        <small class="create-error-msg input-error-msg"></small>
                    </div>
                </div>
                <div class="modal-footer border-top-0">
                    <button type="submit">
                        <span class="spinner-border spinner-border-sm hide" role="status" aria-hidden="true"></span>
                        <span class="btn-text">SEND</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<input type="hidden" class="salonMarketingNotification" data-bs-toggle="modal" data-bs-target="#salonMarketingNotification" />