{% load static %}

<div class="modal fade" id="createSlider" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="createSliderLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <form>
                {% csrf_token %}
                <div class="modal-header border-bottom-0 w-100 justify-content-between">
                    <span id="slider-modal-header">Create Slider</span>
                    <svg class="cursor-pointer" data-bs-dismiss="modal" aria-label="Close" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M13.4672 9.67878C13.8189 8.8295 14 7.91925 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 7.91925 0.18106 8.8295 0.532843 9.67878C0.884626 10.5281 1.40024 11.2997 2.05025 11.9497C2.70026 12.5998 3.47194 13.1154 4.32122 13.4672C5.1705 13.8189 6.08075 14 7 14C7.91925 14 8.8295 13.8189 9.67878 13.4672C10.5281 13.1154 11.2997 12.5998 11.9497 11.9497C12.5998 11.2997 13.1154 10.5281 13.4672 9.67878Z" fill="#D9D9D9"/>
                        <path d="M4.66602 9.33518L6.99962 7.00157M6.99962 7.00157L9.33323 4.66797M6.99962 7.00157L4.66602 4.66797M6.99962 7.00157L9.33323 9.33518" stroke="#3F3F46" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="modal-body">
                    <div class="general-inputs">
                        <input maxlength="100" type="text" name="name" placeholder="Name" />
                        <input maxlength="255" type="text" name="text" placeholder="Description" />
                    </div>
                    <div class="image-wrapper">
                        <label for="event-img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="35" viewBox="0 0 50 35" fill="none">
                                <path d="M42.36 15.28C41.2675 6.675 33.9 0 25 0C18.11 0 12.125 4.0275 9.3925 10.375C4.0225 11.98 0 17.05 0 22.5C0 29.3925 5.6075 35 12.5 35H40C45.515 35 50 30.515 50 25C49.9962 22.759 49.2416 20.5839 47.8567 18.8221C46.4719 17.0602 44.5366 15.8131 42.36 15.28ZM27.5 22.5V30H22.5V22.5H15L25 10L35 22.5H27.5Z" fill="#000093"/>
                            </svg>
                            <input onchange="verifyEventImage(this);" type="file" accept="image/jpeg, image/jpg, image/png" name="image" id="event-img" />
                            <span>Upload an Image</span>
                            <span>(supported dimension: 1000x1000px)</span>
                            <img src="" class="event-img hide" alt="event image" />
                        </label>
                    </div>
                    <div class="error-div hide" style="padding: 0px 20px;">
                        <small class="create-error-msg input-error-msg"></small>
                    </div>
                </div>
                <div class="modal-footer border-top-0">
                    <button id="data-id" class="submit-btn" type="button" data-bs-dismiss="modal">
                        CANCEL
                    </button>
                    <button type="submit">
                        <span class="spinner-border spinner-border-sm hide" role="status" aria-hidden="true"></span>
                        <span class="btn-text">SAVE</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<input type="hidden" class="createSlider" data-bs-toggle="modal" data-bs-target="#createSlider" />