.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-wrapper {
    background-color: #FFF;
    width: 100%;
    min-height: 62px;
    padding: 15px 15px 15px 20px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 19px;
    flex-wrap: wrap;
}

.order-wrapper > span {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.order-wrapper > div {
    display: flex;
    align-items: center;
    gap: 19px;
}

.order-wrapper > div > button {
    display: flex;
    width: 166px;
    height: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 7px;
    background: #000093;

    color: var(--white, #FFF);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.order-wrapper > div > button:first-of-type {
    width: 280px;
    background: #FFF;
    color: #000;
    border: 1px solid #515254;
    padding: 0px;
    position: relative;
}

.order-wrapper > div > button:first-of-type > svg {
    position: absolute;
    right: 10px;
}

.order-wrapper > div > button:first-of-type #date-selector {
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.order-wrapper > div > button:first-of-type #date-selector > .selection-input {
    margin-bottom: 0px;
    width: 100%;
}

.order-wrapper > div > button:first-of-type #date-selector > .selection-input span {
    font-size: .75rem;
    letter-spacing: normal;
    color: #000;
    font-family: Gotham Book;
}

.order-wrapper > div > button:first-of-type #date-selector > .selection-input .filter-btn {
    padding: 0px 10px;
}

.order-wrapper > div > button:first-of-type #date-selector > .selection-input .filter-dropdown {
    top: 42px;
    max-height: 200px;
    overflow: auto;
}

.order-wrapper > div > button:first-of-type #date-selector > .selection-input .filter-dropdown span {
    padding: 6px 15px;
}

.order-details-wrapper {
    background-color: #FFF;
    /* border: 1px solid #E0E0DD; */
    border-radius: 8px;
    margin-bottom: 28px;
}

.order-details-wrapper .order-details-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 21px;
    padding: 13px 23px 13px 20px;
    min-width: 1142px;
}

.order-details-wrapper .order-details-filters > form {
    position: relative;
    display: flex;
    align-items: center;
    width: 265px;
}

.order-details-wrapper .order-details-filters > form > input {
    width: 100%;
    height: 30px;
    font-family: Gotham Book;
    font-size: .75rem;
    border-radius: 4px;
    border: 0.8px solid var(--Gray-for-Outline, #515254);
    background: var(--white, #FFF);
    padding-left: 30px;
    padding-right: 10px;
}

.order-details-wrapper .order-details-filters > form > svg {
    position: absolute;
    left: 5px;
}

.order-details-wrapper .order-details-filters > div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.order-details-wrapper .order-details-filters .hairstylist-selector > .search-div {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
}

.order-details-wrapper .order-details-filters .hairstylist-selector > .search-div svg {
    position: absolute;
    left: 15px;
}

.order-details-wrapper .order-details-filters .hairstylist-selector > .search-div input {
    border: 1px solid #000;
    border-radius: 7px;
    height: 30px;
    width: 100%;

    color: #030706;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 30px;
    padding-right: 10px;
}

.filter-btn {
    width: 100%;
    height: 40px;
    padding: 0px 18px 0px 16px;
    background-color: #FFF;
    border: 1px solid #515254;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-btn > span,
.radio-btn > label {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

.filter-btn > span {
    color: #A9A9A9;
    font-size: .875rem;
}

.filter-dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 32px;
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #E0E0DD;
}

.radio-btn > label,
.filter-dropdown > span {
    width: 100%;
    padding: 0px 15px;
    height: 40px;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
}

.filter-dropdown > span {
    height: 25px;
}

.filter-dropdown > span:not(:first-of-type) {
    border-top: 1px solid #CECECE;
}

/* 
.radio-btn > label:first-of-type {
    border-radius: 8px 0px 8px 0px;
}

.radio-btn > label:last-of-type {
    border-radius: 0px 8px 8px 0px;
} */

.radio-btn:not(:first-child) {
    border-top: 1px solid #E0E0DD;
}

.radio-btn > label:hover {
    background-color: #DDDDDD;
}

.order-details-wrapper .order-details-filters button {
    position: relative;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #515254;
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 0px;

    color: var(--Black, #030706);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
}

.order-details-wrapper .order-details-filters button > span {
    padding-left: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.order-details-wrapper .order-details-filters button > svg {
    position: absolute;
    right: 10px;
}

.order-details-wrapper .order-details-filters .salon-btn {
    width: 128px;
}

.order-details-wrapper .order-details-filters .hairstylist-btn {
    width: 180px;
    justify-content: space-between;
}

.order-details-wrapper .order-details-filters .hairstylist-btn > span {
    padding-left: 20px;
    padding-right: 10px;
}

.order-details-wrapper .order-details-filters .hairstylist-btn > svg {
    position: relative;
    right: 10px;
    width: 15px;
    height: 17px;
    flex-shrink: 0;
}

.order-details-wrapper .order-details-filters .payment-btn {
    width: 128px;
}

.order-details-wrapper .order-details-filters .sort-btn {
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
    width: 30px;
    border-radius: 4px;
}

.order-details-wrapper .order-details-filters .sort-btn > svg {
    position: relative;
    right: unset;
}

.order-details-table {
    width: 100%;
    min-width: 1142px;
    border-bottom: 1px solid #CECECE;
    background-color: #FFF;
    margin-bottom: 18px;
    table-layout: fixed;
}

.order-details-table thead {
    background-color: #EEE;
    height: 26px;

    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    line-height: 20px;
}

.order-details-table thead th .table-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

.order-details-table thead th {
    border-top: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    border-bottom: unset;
    background: #EEE;
    padding: 0px;
    font-weight: 500;
}

.order-details-table thead th:last-of-type {
    border-right: unset;
}

.order-details-table thead th > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 10px;
    height: 25px;
}

.order-details-table tbody tr .table-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

.order-details-table tbody tr td {
    border-top: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    border-bottom: unset;
    padding: 0px;

    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.order-details-table tbody tr td:not(:first-of-type) {
    cursor: pointer;
}

.order-details-table tbody tr td:last-of-type {
    border-right: unset;
}

.order-details-table tbody tr td .salon-cell {
    padding: 7px 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 10px;
}

.order-details-table tbody tr td .sku-cell {
    padding: 7px 10px;
    line-height: 16px;
}

.order-details-table tbody tr td .sku-cell > span {
    overflow: hidden;
    position: relative;
    max-height: 35px;
    line-height: 18px;
    /* text-align: justify; */
    margin-right: -1em;
    padding-right: 1em;
}

.order-details-table tbody tr td .sku-cell > span:before {
    content: '...';
    position: absolute;
    right: 1px;
    bottom: 0;
}

.order-details-table tbody tr td .print-cell-text {
    color: #000093;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 2.4px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.order-details-table tbody tr td > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 10px;
    height: 45px;
}

.order-details-table tbody tr td > .stock-details-container {
    padding: 15px 24px 20px 24px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.order-details-table tbody tr td > .stock-details-container .container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid #CECECE;
    background: #EEE;
    padding: 6px 10px;
}

.order-details-table tbody tr td > .stock-details-container .container-header > span {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
}

.order-details-table tbody tr td > .stock-details-container .container-header > div {
    display: flex;
    align-items: center;
    gap: 24px;
}

.order-details-table tbody tr td > .stock-details-container .container-header > div > span {
    color: #000093;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.order-details-table tbody tr td > .stock-details-container .container-header > div > div {
    width: 114px;
    height: 28px;
    background-color: #FFFFFF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 9px 10px;
}

.order-details-table tbody tr td > .stock-details-container .container-header > div > div > span {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
}

.inventory-details-table {
    width: 100%;
    border-bottom: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    border-left: 1px solid #CECECE;
    background-color: #FFF;
    table-layout: fixed;
}

.inventory-details-table thead {
    height: 36px;

    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.inventory-details-table thead th {
    border-top: unset;
    border-right: 1px solid #CECECE;
    border-bottom: unset;
    background: #FFFFFF;
}

.inventory-details-table thead th:last-of-type {
    border-right: unset;
}

.inventory-details-table thead th > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 5px;
    height: 33px;
    opacity: .6;
    font-weight: 500;
}

.inventory-details-table thead th:first-of-type > div {
    padding: 9px 10px;
}

.inventory-details-table tbody tr td {
    border-top: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    border-bottom: unset;
    padding: 0px;
    height: 36px;

    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    cursor: unset!important;
}

.inventory-details-table tbody tr td:last-of-type {
    border-right: unset;
}

.inventory-details-table tbody tr td > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 5px;
    height: 33px;
}

.inventory-details-table tbody tr td:first-of-type > div {
    padding: 9px 10px;
}

.inventory-details-table tbody tr td div .order-number {
    color: #000093;
    text-decoration: underline;
}

.order-details-table tbody tr td > .stock-details-container > .details-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    /* height: 40px; */
    padding: 9px 12px;

    border-right: 1px solid #CECECE;
    border-bottom: 1px solid #CECECE;
    border-left: 1px solid #CECECE;
    border-radius: 0px 0px 8px 8px;
}

.order-details-table tbody tr td > .stock-details-container > .details-footer > button {
    width: 150px;
    height: 36px;
    border: 1px solid #000093;
    border-radius: 7px;
    background: var(--Brand-color, #000093);
    color: var(--white, #FFF);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.order-details-table tbody tr td .status-options {
    width: 100%;
    height: 100%;
    border: none;
    outline: unset;
    background-color: transparent;
    position: relative;
    left: -4px;

    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
}

.order-details-table tbody tr td .status-options option {
    cursor: pointer;
}

@media (max-width: 1439px) {
    .order-details-wrapper {
        overflow-x: auto;
    }
}


/* --------------------------------------------------------- */