.main-page {
    position: relative;
    left: 255px;
    min-height: 100vh;
    padding: 0px 20px 0px 20px;
    width: calc(100vw - 255px);
    margin-top: 27px;
}

.main-page > .header {
    display: flex;
    justify-content: space-between;
    height: 48px;
    margin-bottom: 22px;
}

.search-user {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.search-logo-wrapper {
    display: flex;
    padding: 5px 12px;
    align-items: center;
    border-radius: 8px 0px 0px 8px;
    border-top: 0.8px solid var(--secondary-line-color, #515254);
    border-bottom: 0.8px solid var(--secondary-line-color, #515254);
    border-left: 0.8px solid var(--secondary-line-color, #515254);
    background: var(--primary-white, #FFF);
    width: 44px;
    height: 30px;
}

.search-user > input {
    display: flex;
    width: 400px;
    height: 30px;
    padding: 11px 89px;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    border-top: 0.8px solid var(--secondary-line-color, #515254);
    border-right: 0.8px solid var(--secondary-line-color, #515254);
    border-bottom: 0.8px solid var(--secondary-line-color, #515254);
    border-left: 0px;
    background: var(--primary-white, #FFF);

    color: var(--primary-black, #000);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.68px;
}

.search-user > input::placeholder {
    color: var(--primary-black, #000);
}

.header .user-info {
    display: flex;
    align-items: center;
    gap: 34px;
}

.user-info .nav-notification-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info a {
    text-decoration: none!important;
    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: 1.2px;
}

.nav-notification-wrapper .notification-count {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    top: -4px;
    right: -4px;
}

.header .nav-profile-image {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header .nav-profile-image > img {
    width: 39px;
    height: 39px;
}


.content {
    display: flex;
    flex-direction: column;
}

.order-wrapper {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background-color: #EEEEEE;
    width: 100%;
    height: 60px;
    padding: 15px 15px 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-wrapper > span {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.order-wrapper > button {
    display: flex;
    width: 166px;
    height: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 7px;
    background: #000093;

    color: var(--white, #FFF);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.order-details-wrapper {
    background-color: #FFF;
    border: 1px solid #E0E0DD;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-bottom: 28px;
}

.order-details-wrapper .order-details-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
    background-color: #FFF;
    border: 1px solid #E0E0DD;
    border-top: none;
}

.order-details-wrapper .order-details-filters > div {
    display: flex;
    align-items: center;
    position: relative;
    width: 681px;
}

.order-details-wrapper .order-details-filters > div > input {
    width: 100%;
    height: 30px;
    font-family: Gotham Book;
    font-size: .75rem;
    border-radius: 4px;
    border: 0.8px solid var(--Gray-for-Outline, #515254);
    background: var(--white, #FFF);
    padding-left: 30px;
    padding-right: 10px;
}

.order-details-wrapper .order-details-filters > div > svg {
    position: absolute;
    left: 5px;
}

.order-details-wrapper .order-details-filters > button {
    border-radius: 4px;
    border: 1px solid #515254;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    width: 30px;
    height: 30px;
}

.order-details-table-wrapper {
    padding: 18px 20px 20px 20px;
}

.order-details-table {
    width: 100%;
    border: 1px solid #E0E0DD;
    background-color: #FFF;
}

.order-details-table thead {
    background-color: #EEE;
    height: 26px;
    
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.order-details-table thead th .table-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
}

.order-details-table thead th {
    border-top: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    border-left: 1px solid #CECECE;
    border-bottom: unset;
    background: #EEE;
}

.order-details-table thead th > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 5px;
    height: 26px;
}

.order-details-table tbody tr .table-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
}

.order-details-table tbody tr td {
    border-top: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    border-left: 1px solid #CECECE;
    border-bottom: unset;

    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.order-details-table tbody tr td .highlighted-data {
    color: #000093;
    text-decoration: underline;
}

.order-details-table tbody tr td > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 5px;
    height: 26px;
}


@media (max-width: 1439px) {
    .content {
        overflow-x: auto;
    }
}

/* --------------------------------------------------------- */