<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% extends '../layouts/auth-base.html' %}
    {% load static %}

    {% block links %}

    <link rel="stylesheet" href="{% static 'Assets/authentication/css/forgot_password.css' %}" />
    
    {% endblock %}

    <title>{% block title %}HOMME{% endblock %}</title>
</head>

<body>
    {% block body %}
    <h2>Forgot Password</h2>
    <form class="input-container" onsubmit="forgotPasswordForm(event);" novalidate>
        {% csrf_token %}
        <div class="input-group">
            <div class="input">
                <input maxlength="100" class="input-field" type="email" name="email" id="forgot-email" placeholder="Email" tabindex="1" />
                <small class="email-msg input-error-msg"></small>
            </div>
        </div>
        <button type="submit" class="forgot-btn" tabindex="3">
            <span class="spinner-border spinner-border-sm hide" role="status" aria-hidden="true"></span>
            <span class="btn-text">SEND</span>
        </button>
    </form>
    {% endblock %}
</body>
{% block scripts %}
<script src="{% static 'Assets/authentication/js/forgotPassword.js' %}"></script>
{% endblock %}
</html>