<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% extends '../layouts/auth-base.html' %}
    {% load static %}

    {% block links %}
    <link rel="stylesheet" href="{% static 'Assets/authentication/css/reset_password.css' %}" />
    {% endblock %}

    <title>{% block title %}HOMME{% endblock %}</title>
</head>

<body>
    {% block body %}
    <h2>Reset Password</h2>
    <form class="input-container" onsubmit="resetPasswordForm(event);" novalidate>
        {% csrf_token %}
        <div class="input-group">
            <div class="password-input">
                <div>
                    <i class="fa fa-eye-slash hide-password-field" onclick="togglePasswordField(event);"></i>
                    <input minlength="8" maxlength="30" class="input-field login-password-field" type="password" placeholder="New Password" name="password" tabindex="1" />
                </div>
                <small class="password-msg new_password input-error-msg"></small>
            </div>
            <div class="password-input">
                <div>
                    <i class="fa fa-eye-slash hide-password-field" onclick="togglePasswordField(event);"></i>
                    <input minlength="8" maxlength="30" class="input-field login-password-field" type="password" placeholder="Confirm Password" name="confirm_password" tabindex="2" />
                </div>
                <small class="password-msg confirm_password input-error-msg"></small>
            </div>
        </div>
        <button type="submit" class="reset-btn" tabindex="3">
            <span class="spinner-border spinner-border-sm hide" role="status" aria-hidden="true"></span>
            <span class="btn-text">RESET</span>
        </button>
    </form>
    {% endblock %}
</body>
{% block scripts %}
<script src="{% static 'Assets/authentication/js/resetPassword.js' %}"></script>
{% endblock %}
</html>