<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% extends '../layouts/auth-base.html' %}
    {% load static %}

    {% block links %}

    <link rel="stylesheet" href="{% static 'Assets/authentication/css/signin.css' %}" />

    {% endblock %}

    <title>{% block title %}Admin Login{% endblock %}</title>
</head>

<body>
    {% block body %}
    <form class="input-container" onsubmit="loginForm(event);" novalidate>
        {% csrf_token %}
        <div class="input-group">
            <div class="input">
                <input class="input-field" type="email" name="email" id="login-email" placeholder="Email" tabindex="1" />
                <small class="email-msg input-error-msg"></small>
            </div>
            <div class="password-input">
                <div>
                    <i class="fa fa-eye-slash hide-password-field"></i>
                    <input class="input-field login-password-field" type="password" placeholder="Password" name="password"
                        id="login-password" tabindex="2" />
                </div>
                <small class="password-msg input-error-msg"></small>
            </div>
            <div class="forgot-password-div">
                <a href="{% url 'forgot_password' %}" tabindex="4">Forgot Password?</a>
            </div>
        </div>
        <button type="submit" class="login-btn" tabindex="3">
            <span class="spinner-border spinner-border-sm hide" role="status" aria-hidden="true"></span>
            <span class="btn-text">LOGIN</span>
        </button>
    </form>
    {% endblock %}
</body>
{% block scripts %}
<script src="{% static 'Assets/authentication/js/login.js' %}"></script>
{% endblock %}
</html>