.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-wrapper {
    background-color: #FFF;
    width: 100%;
    min-height: 72px;
    padding: 21px 21px 21px 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-wrapper .order-wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.order-wrapper .order-wrapper-header > span {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.order-wrapper .order-wrapper-header > div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.order-wrapper .order-wrapper-header > div > button {
    display: flex;
    width: 150px;
    height: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 7px;
    background: #000093;

    color: var(--white, #FFF);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.order-wrapper .order-wrapper-header > div > button:first-of-type {
    background: #FFF;
    color: #000093;
    border: 1px solid #000093;
    padding: 0px;
}

.order-wrapper .customer-stats-overview {
    display: flex;
    align-items: center;
    gap: 20px;
}

.order-wrapper .customer-stats-overview .vr {
    border: 1px solid #5B5C5E;
    height: 15px;
}

.order-wrapper .customer-stats-overview > div > span {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

.order-wrapper .customer-stats-overview > div > span:last-of-type {
    font-family: Gotham Book;
}

.order-details-wrapper {
    background-color: #FFF;
    border: 1px solid #E0E0DD;
    border-radius: 6px;
    margin-bottom: 28px;
}

.order-details-wrapper .order-details-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
    width: 100%;
    min-width: 1142px;
}

.order-details-wrapper .order-details-filters > form {
    position: relative;
    display: flex;
    align-items: center;
}

.order-details-wrapper .order-details-filters > form > input {
    width: 681px;
    height: 30px;
    font-family: Gotham Book;
    font-size: .75rem;
    border-radius: 4px;
    border: 0.8px solid var(--Gray-for-Outline, #515254);
    background: var(--white, #FFF);
    padding-left: 30px;
    padding-right: 10px;
}

.order-details-wrapper .order-details-filters > form > svg {
    position: absolute;
    left: 5px;
}

.order-details-wrapper .order-details-filters > div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.order-details-wrapper .order-details-filters > div button:last-of-type {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #030706;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.order-details-table-wrapper {
    width: 100%;
    min-width: 1142px;
}

.order-details-table {
    width: 100%;
    border-bottom: 1px solid #E0E0DD;
    background-color: #FFF;
    margin-bottom: 20px;
    table-layout: fixed;
}

.order-details-table thead {
    background-color: #EEE;
    height: 26px;
    
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    line-height: 20px;
}

.order-details-table thead th .table-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

.order-details-table thead th {
    border-top: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    border-bottom: unset;
    background: #EEE;
    font-weight: 500;
    padding: 0px;
}

.order-details-table thead th:last-of-type {
    border-right: unset;
}

.order-details-table thead th > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 5px;
    height: 25px;
}

.order-details-table tbody tr .table-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

.order-details-table tbody tr .referrer-referree-name {
    color: #000093;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    text-decoration-line: underline;
}

.order-details-table tbody tr .date-visits {
    opacity: .6;
}

.order-details-table tbody tr td {
    border-top: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    border-bottom: unset;
    padding: 0px;

    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.order-details-table tbody tr td:last-of-type {
    border-right: unset;
}

.order-details-table tbody tr td .order-date {
    opacity: .6;
}

.order-details-table tbody tr td > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 5px;
    height: 25px;
}


@media (max-width: 1439px) {
    .order-details-wrapper {
        overflow-x: auto;
    }
}


/* --------------------------------------------------------- */