.main-page {
    position: relative;
    left: 255px;
    min-height: 100vh;
    padding: 0px 20px 0px 20px;
    width: calc(100vw - 255px);
    margin-top: 27px;
}

.main-page > .header {
    display: flex;
    justify-content: space-between;
    height: 48px;
    margin-bottom: 22px;
}

.search-user {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.search-logo-wrapper {
    display: flex;
    padding: 5px 12px;
    align-items: center;
    border-radius: 8px 0px 0px 8px;
    border-top: 0.8px solid var(--secondary-line-color, #515254);
    border-bottom: 0.8px solid var(--secondary-line-color, #515254);
    border-left: 0.8px solid var(--secondary-line-color, #515254);
    background: var(--primary-white, #FFF);
    width: 44px;
    height: 30px;
}

.search-user > input {
    display: flex;
    width: 400px;
    height: 30px;
    padding: 11px 89px;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    border-top: 0.8px solid var(--secondary-line-color, #515254);
    border-right: 0.8px solid var(--secondary-line-color, #515254);
    border-bottom: 0.8px solid var(--secondary-line-color, #515254);
    border-left: 0px;
    background: var(--primary-white, #FFF);

    color: var(--primary-black, #000);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.68px;
}

.search-user > input::placeholder {
    color: var(--primary-black, #000);
}

.header .user-info {
    display: flex;
    align-items: center;
    gap: 34px;
}

.user-info .nav-notification-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info a {
    text-decoration: none!important;
    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: 1.2px;
}

.nav-notification-wrapper .notification-count {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    top: -4px;
    right: -4px;
}

.nav-notification-wrapper .notification-data-wrapper {
    position: absolute;
    z-index: 1;
    top: 61px;
    left: -350px;
    background-color: #FFF;
    border: 1px solid #E0E0DD;
    border-radius: 6px;
    padding: 26px 20px 16px 20px;
    width: 431px;
    height: 396px;
}

.nav-notification-wrapper .notification-data-wrapper .notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;

    padding-bottom: 16px;
    border-bottom: 1px solid #E0E0DD;
}

.nav-notification-wrapper .notification-data-wrapper .notification-data {
    display: flex;
    flex-direction: column;
}

.nav-notification-wrapper .notification-data-wrapper .notification-data .notification-card {
    display: flex;
    flex-direction: column;
    gap: 14px;

    padding: 13px 0px;
    border-top: 1px solid #E0E0DD;
}

.nav-notification-wrapper .notification-data-wrapper .notification-data .notification-card:first-of-type {
    border-top: unset;
}

.nav-notification-wrapper .notification-data-wrapper .notification-data .notification-card > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-notification-wrapper .notification-data-wrapper .notification-data .notification-card > div > span:first-of-type {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    text-transform: capitalize;
}

.nav-notification-wrapper .notification-data-wrapper .notification-data .notification-card > div > span:last-of-type,
.nav-notification-wrapper .notification-data-wrapper .notification-data .notification-card > span {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .625rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    text-transform: capitalize;
    opacity: .6;
}

.nav-notification-wrapper .notification-data-wrapper .notification-data .notification-card > span {
    font-size: .875rem;
    line-height: 16px;
}

.header .nav-profile-image {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header .nav-profile-image > img {
    width: 39px;
    height: 39px;
    border-radius: 8px;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-wrapper {
    background-color: #FFF;
    width: 100%;
    height: 60px;
    padding: 15px 15px 15px 20px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-wrapper > span {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.order-wrapper > button {
    display: flex;
    width: 156px;
    height: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 7px;
    background: #000093;

    color: var(--white, #FFF);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.order-status-categories-wrapper {
    background-color: #FFF;
    border: 1px solid #E0E0DD;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.order-status-categories {
    width: 177px;
    height: 123px;
    background-color: #000;
    border-radius: 6px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* flex-shrink: 0; */
    padding: 10px 0px;
}

.order-status-categories .status-category-name {
    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    opacity: .7;
}

.order-status-categories .status-category-value {
    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.order-status-categories > button {
    display: inline-flex;
    position: relative;
    width: calc(100% - 18px);
    height: 30px;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    padding: 0px;
    border: .8px solid #515254;
    border-radius: 6px;
    background-color: #FFF;
}

.order-status-categories > button > span {
    display: flex;
    align-items: center;
    /* width: 100%; */
    height: 30px;
    /* background-color: #FFF;
    border-radius: 6px 0px 0px 6px; */

    color: var(--Black, #030706);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .65rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.order-status-categories > button > .order-stats-dropdown {
    position: absolute;
    top: 33px;
    border: 1px solid #E0E0DD;
    border-radius: 6px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.order-status-categories > button > .order-stats-dropdown > span {
    color: var(--Black, #030706);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .65rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-status-categories > button > .order-stats-dropdown > span:not(:last-of-type) {
    border-bottom: 1px solid #CECECE;
}

.order-status-categories > button > .order-stats-dropdown > span:hover {
    background: #DDDDDD;
}

.order-details-wrapper {
    background-color: #FFF;
    border: 1px solid #E0E0DD;
    border-radius: 6px;
    padding: 16px 20px 21px 20px;
    margin-bottom: 28px;
}

.order-details-wrapper .order-details-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15.58px;
}

.order-details-wrapper .order-details-filters > div:first-of-type {
    display: flex;
    align-items: center;
    gap: 15px;
}

.order-details-wrapper .order-details-filters > div:first-of-type button {
    width: 157px;
    height: 30px;
    border: .8px solid #515254;
    border-radius: 6px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
}

.order-details-wrapper .order-details-filters > div:first-of-type button span {
    color: var(--Black, #030706);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
}

.order-details-wrapper .order-details-filters > div:last-of-type {
    display: flex;
    align-items: center;
    gap: 11px;
}

.order-details-wrapper .order-details-filters > div:last-of-type button {
    border-radius: 2px;
    border: 1px solid #030706;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.order-details-wrapper .order-details-filters > div:last-of-type button:first-of-type {
    width: 57px;
    height: 30px;
}

.order-details-wrapper .order-details-filters > div:last-of-type button:last-of-type {
    width: 30px;
    height: 30px;
}

.order-details-table {
    width: 100%;
    /* border: 1px solid #E0E0DD; */
    background-color: #FFF;
}

.order-details-table thead {
    background-color: #EEE;
    height: 26px;
}

.order-details-table thead th .table-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
}

.order-details-table thead th {
    border-top: 1px solid #CECECE!important;
    border-right: 1px solid #CECECE!important;
    border-bottom: unset!important;
    background: #EEE;
    padding-right: 0px!important;
    padding: 0px!important;
}

.order-details-table thead th:first-of-type {
    border-left: 1px solid #CECECE!important;
}

.order-details-table thead th:before,
.order-details-table thead th:after {
    right: 5px!important;
}

.order-details-table thead th.sorting_asc:before,
.order-details-table thead th.sorting_desc:after {
    opacity: 1!important;
}

.order-details-table thead th > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 5px;
    height: 26px;

    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.order-details-table tbody tr .table-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
}

.order-details-table tbody tr td {
    border-top: 1px solid #CECECE!important;
    border-right: 1px solid #CECECE!important;
    border-bottom: unset!important;
    padding-right: 0px!important;
    padding: 0px!important;

    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.order-details-table tbody tr td:first-of-type {
    border-left: 1px solid #CECECE!important;
}

.order-details-table tbody tr:last-of-type td {
    border-bottom: 1px solid #CECECE!important;
}

.order-details-table tbody tr td .order-date {
    opacity: .6;
}

.order-details-table tbody tr td > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 5px;
    height: 26px;
}


@media (max-width: 1439px) {
    .content {
        overflow-x: auto;
    }
}

/* --------------------------------------------------------- */