.main-page {
    position: relative;
    left: 255px;
    min-height: 100vh;
    padding: 0px 20px 0px 20px;
    width: calc(100vw - 255px);
    margin-top: 27px;
}

.main-page > .header {
    display: flex;
    justify-content: space-between;
    height: 48px;
    margin-bottom: 22px;
}

.search-user {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.search-logo-wrapper {
    display: flex;
    padding: 5px 12px;
    align-items: center;
    border-radius: 8px 0px 0px 8px;
    border-top: 0.8px solid var(--secondary-line-color, #515254);
    border-bottom: 0.8px solid var(--secondary-line-color, #515254);
    border-left: 0.8px solid var(--secondary-line-color, #515254);
    background: var(--primary-white, #FFF);
    width: 44px;
    height: 30px;
}

.search-user > input {
    display: flex;
    width: 400px;
    height: 30px;
    padding: 11px 89px;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    border-top: 0.8px solid var(--secondary-line-color, #515254);
    border-right: 0.8px solid var(--secondary-line-color, #515254);
    border-bottom: 0.8px solid var(--secondary-line-color, #515254);
    border-left: 0px;
    background: var(--primary-white, #FFF);

    color: var(--primary-black, #000);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.68px;
}

.search-user > input::placeholder {
    color: var(--primary-black, #000);
}

.header .user-info {
    display: flex;
    align-items: center;
    gap: 34px;
}

.user-info .nav-notification-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info a {
    text-decoration: none!important;
    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: 1.2px;
}

.nav-notification-wrapper .notification-count {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    top: -4px;
    right: -4px;
}

.header .nav-profile-image {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header .nav-profile-image > img {
    width: 39px;
    height: 39px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-wrapper {
    background-color: #FFF;
    width: 100%;
    height: 60px;
    padding: 15px 15px 15px 20px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-wrapper > span {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.order-wrapper > button {
    display: flex;
    width: 156px;
    height: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 7px;
    background: #000093;

    color: var(--white, #FFF);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.order-status-categories-wrapper {
    background-color: #FFF;
    border: 1px solid #E0E0DD;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.order-status-categories {
    width: 282px;
    height: 133px;
    background-color: #000;
    border-radius: 6px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.order-status-categories .status-category-name {
    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    opacity: .7;
}

.order-status-categories .status-category-value {
    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.order-status-categories > button {
    display: inline-flex;
    position: relative;
    width: calc(100% - 18px);
    height: 30px;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    padding: 0px;
    border: .8px solid #515254;
    border-radius: 6px;
    background-color: #FFF;
}

.order-status-categories > button > span {
    display: flex;
    align-items: center;
    height: 30px;

    color: var(--Black, #030706);
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.order-details-wrapper {
    background-color: #FFF;
    border: 1px solid #E0E0DD;
    border-radius: 6px;
    margin-bottom: 28px;
}

.order-details-wrapper .order-details-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 13px 20px;
}

.order-details-wrapper .order-details-filters > form {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.order-details-wrapper .order-details-filters > form > input {
    width: 100%;
    height: 30px;
    font-family: Gotham Book;
    font-size: .75rem;
    border-radius: 4px;
    border: 0.8px solid var(--Gray-for-Outline, #515254);
    background: var(--white, #FFF);
    padding-left: 30px;
    padding-right: 10px;
}

.order-details-wrapper .order-details-filters > form > svg {
    position: absolute;
    left: 5px;
}

.order-details-wrapper .order-details-filters > button {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #515254;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.order-details-table {
    width: 100%;
    border-bottom: 1px solid #E0E0DD;
    background-color: #FFF;
    margin-bottom: 20px;
}

.order-details-table thead {
    background-color: #EEE;
    height: 38px;
    
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Medium;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.order-details-table tbody tr td .description-col {
    /* width: calc(100% - 210px); */
    width: 100%;
    max-width: 252px;
}

.order-details-table tbody tr td .description-col > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.order-details-table thead th {
    border-top: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    border-bottom: unset;
    background: #EEE;
}

.order-details-table thead th:last-of-type {
    border-right: unset;
}

.order-details-table thead th > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 5px;
    height: 35px;
}

.order-details-table tbody tr .product-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-details-table tbody tr .product-image > img {
    height: 26px;
    width: 26px;
    border-radius: 3.164px;
    object-fit: cover;
    object-position: center;
}

.order-details-table tbody tr td {
    border-top: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    border-bottom: unset;

    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Gotham Book;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.order-details-table tbody tr td:last-of-type {
    border-right: unset;
}

.order-details-table tbody tr td .order-date {
    opacity: .6;
}

.order-details-table tbody tr td > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 5px;
    height: 35px;
}


@media (max-width: 1439px) {
    .content {
        overflow-x: auto;
    }
}


/* --------------------------------------------------------- */