<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% extends '../layouts/base.html' %}
    {% load static %}

    {% block links %}
    
    <link rel="stylesheet" href="{% static 'Assets/consumer/css/marketing.css' %}" />
    <link rel="stylesheet" href="{% static 'Assets/modals/css/marketing_notification_modal.css' %}" />

    {% endblock %}

    <title>{% block title %}Homme Marketing{% endblock %}</title>
</head>
<body>
    {% block body %}
    <div class="main-page">
        {% include '../includes/header.html' %}
        <div class="content">
            <div class="order-wrapper">
                <span>MARKETING</span>
                <button type="button" data-bs-toggle="modal" data-bs-target="#marketingNotification">NEW NOTIFICATION</button>
            </div>
            <div class="order-details-wrapper">
                <table class="order-details-table">
                    <thead>
                        <th width="26px">
                            <div class="table-checkbox">
                                <input type="checkbox" />
                            </div>
                        </th>
                        <th width="20%">
                            <div>
                                <span>Title</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                                </svg>
                            </div>
                        </th>
                        <th width="11%">
                            <div>
                                <span>Date</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                                </svg>
                            </div>
                        </th>
                        <th width="29.4%">
                            <div>
                                <span>Targets</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                                </svg>
                            </div>
                        </th>
                        <th width="37.14%">
                            <div>
                                <span>Notification Text</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                                    <path d="M6 4.15234L3 7.78871L0 4.15234H6Z" fill="#030706"/>
                                    <path opacity="0.2" d="M6 3.63636L3 0L0 3.63636H6Z" fill="#030706"/>
                                </svg>
                            </div>
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">New Product Announcement</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Redge NYC, Shortcuts</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Unveiling Beauty Redefined: Introducing New Face serum</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Bonus Commission for Top Sellers </span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">All Salons in NY</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">We are thrilled to announce our exclusive Bonus Commission...</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Beauty and Wellness Expo</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">All Salons in OR</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Learn beauty and wellness secrets from experts in the field.</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">New Product Announcement</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Associated User of Saloon Redge NYC, ZALON....</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Get 20% OFF on Our Premium Face Serum!</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">New Product Announcement</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Redge NYC, Shortcuts</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Unveiling Beauty Redefined: Introducing New Face serum</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Bonus Commission for Top Sellers </span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">All Salons in NY</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">We are thrilled to announce our exclusive Bonus Commission...</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Beauty and Wellness Expo</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">All Salons in OR</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Learn beauty and wellness secrets from experts in the field.</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">New Product Announcement</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Associated User of Saloon Redge NYC, ZALON....</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Get 20% OFF on Our Premium Face Serum!</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">New Product Announcement</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Redge NYC, Shortcuts</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Unveiling Beauty Redefined: Introducing New Face serum</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Bonus Commission for Top Sellers </span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">All Salons in NY</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">We are thrilled to announce our exclusive Bonus Commission...</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Beauty and Wellness Expo</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">All Salons in OR</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Learn beauty and wellness secrets from experts in the field.</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">New Product Announcement</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Associated User of Saloon Redge NYC, ZALON....</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Get 20% OFF on Our Premium Face Serum!</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">New Product Announcement</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Redge NYC, Shortcuts</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Unveiling Beauty Redefined: Introducing New Face serum</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Bonus Commission for Top Sellers </span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">All Salons in NY</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">We are thrilled to announce our exclusive Bonus Commission...</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Beauty and Wellness Expo</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">All Salons in OR</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Learn beauty and wellness secrets from experts in the field.</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">New Product Announcement</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Associated User of Saloon Redge NYC, ZALON....</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Get 20% OFF on Our Premium Face Serum!</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">New Product Announcement</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Redge NYC, Shortcuts</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Unveiling Beauty Redefined: Introducing New Face serum</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Bonus Commission for Top Sellers </span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">All Salons in NY</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">We are thrilled to announce our exclusive Bonus Commission...</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Beauty and Wellness Expo</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">All Salons in OR</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Learn beauty and wellness secrets from experts in the field.</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">New Product Announcement</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Associated User of Saloon Redge NYC, ZALON....</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Get 20% OFF on Our Premium Face Serum!</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">New Product Announcement</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Redge NYC, Shortcuts</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Unveiling Beauty Redefined: Introducing New Face serum</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Bonus Commission for Top Sellers </span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">All Salons in NY</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">We are thrilled to announce our exclusive Bonus Commission...</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Beauty and Wellness Expo</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">All Salons in OR</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Learn beauty and wellness secrets from experts in the field.</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">New Product Announcement</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Associated User of Saloon Redge NYC, ZALON....</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Get 20% OFF on Our Premium Face Serum!</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">New Product Announcement</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Redge NYC, Shortcuts</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Unveiling Beauty Redefined: Introducing New Face serum</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Bonus Commission for Top Sellers </span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">All Salons in NY</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">We are thrilled to announce our exclusive Bonus Commission...</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Beauty and Wellness Expo</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">All Salons in OR</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Learn beauty and wellness secrets from experts in the field.</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">New Product Announcement</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Associated User of Saloon Redge NYC, ZALON....</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Get 20% OFF on Our Premium Face Serum!</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-checkbox">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">New Product Announcement</span>
                                </div>
                            </td>
                            <td>
                                <div class="date-column">
                                    <span>08-Jan-2023</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Redge NYC, Shortcuts</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="overflow-text">Unveiling Beauty Redefined: Introducing New Face serum</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include '../modals/marketing-notification-modal.html' %}

    {% endblock %}
</body>
{% block scripts %}
<script src="{% static 'Assets/modals/js/createNotificationModal.js' %}"></script>
{% endblock %}
</html>