<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% extends '../layouts/base.html' %}
    {% load static %}

    {% block links %}
    
    <link rel="stylesheet" href="{% static 'Assets/consumer/css/homme.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    {% endblock %}

    <title>{% block title %}Homme{% endblock %}</title>
</head>
<body>
    {% block body %}
    <div class="main-page">
        {% include '../includes/header.html' %}
        <div class="content">
            <div class="content-col-1">
                <div class="all-orders-wrapper">
                    <div class="order-header">
                        <span>ORDERS</span>
                        <div class="order-filters">
                            <button id="select-order-channel-btn" style="width: 200px;">
                                <span id="selected-order-channel-opt">ALL SALES CHANNEL</span>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="18" viewBox="0 0 15 18" fill="none">
                                        <g clip-path="url(#clip0_771_3739)">
                                          <path d="M14.5945 9.31641L7.59448 16.8164L0.594482 9.31641H14.5945Z" fill="#030706"/>
                                          <path d="M14.5947 8.25L7.59473 0.75L0.594727 8.25H14.5947Z" fill="#030706"/>
                                        </g>
                                        <defs>
                                          <clipPath id="clip0_771_3739">
                                            <rect width="14" height="16.5" fill="white" transform="translate(0.594727 0.75)"/>
                                          </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                                <div class="order-channel-dropdown hide" id="order-channel-dropdown">
                                    <!-- <label for="homme-channel" class="cursor-pointer">
                                        <span>HOMME</span>
                                        <input type="checkbox" onchange="selectSalesChannel(this);" id="homme-channel" value="homme" name="sales_channel" />
                                    </label> -->
                                    <label for="salon-channel" id='consumer-salon-sale' class="cursor-pointer">
                                        <span>SALONS</span>
                                        <input type="checkbox" onchange="selectSalesChannel(this);" id="salon-channel" value="salon" name="sales_channel" />
                                    </label>
                                    <!-- <label for="referrer-channel" class="cursor-pointer">
                                        <span>REFERRERS</span>
                                        <input type="checkbox" onchange="selectSalesChannel(this);" id="referrer-channel" value="referral" name="sales_channel" />
                                    </label> -->
                                </div>
                            </button>
                            <button data-type="select-order-stat-time-btn" id="select-order-stat-time-btn">
                                <span id="selected-order-stat-opt">ALL TIME</span>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="18" viewBox="0 0 15 18" fill="none">
                                        <g clip-path="url(#clip0_771_3739)">
                                            <path d="M14.5945 9.31641L7.59448 16.8164L0.594482 9.31641H14.5945Z" fill="#030706"/>
                                            <path d="M14.5947 8.25L7.59473 0.75L0.594727 8.25H14.5947Z" fill="#030706"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_771_3739">
                                            <rect width="14" height="16.5" fill="white" transform="translate(0.594727 0.75)"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                                <div class="order-stats-dropdown hide" id="order-stats-dropdown">
                                    <span onclick="selectOrderStatTime(event);">TODAY</span>
                                    <span onclick="selectOrderStatTime(event);">CURRENT WEEK</span>
                                    <span onclick="selectOrderStatTime(event);">LAST WEEK</span>
                                    <span onclick="selectOrderStatTime(event);">CURRENT MONTH</span>
                                    <span onclick="selectOrderStatTime(event);">LAST MONTH</span>
                                    <span onclick="selectOrderStatTime(event);">CURRENT QUARTER</span>
                                    <span onclick="selectOrderStatTime(event);">LAST QUARTER</span>
                                    <span onclick="selectOrderStatTime(event);">CURRENT YEAR</span>
                                    <span onclick="selectOrderStatTime(event);">LAST YEAR</span>
                                    <span onclick="selectOrderStatTime(event);">ALL TIME</span>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div style="height: 100%;">
                        <div class="w-100 h-100 d-flex justify-content-center align-items-center pt-2 pb-2" id="table-loader">
                            <span class="spinner-border spinner-border-md" style="color: #000093;" role="status" aria-hidden="true">
                            </span>
                        </div>
                        <div class="hide" id="homme-order-table">
                            {% include '../ajax/homme-order-table.html' %}
                        </div>
                    </div>
                </div>
                <div class="fulfill-order-wrapper">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="38" viewBox="0 0 36 38" fill="none">
                            <path d="M18.3782 1.57367C18.1893 1.38589 17.8115 1.57366 17.8115 1.94921V35.9367C17.8115 36.3122 18.0004 36.5 18.3782 36.5H34.4334C34.8111 36.5 35 36.3122 35 35.9367V9.83581C35 9.46026 34.8111 9.08471 34.4334 9.08471L18.3782 1.57367Z" fill="black"/>
                            <path d="M18.3782 1.57367C18.1893 1.38589 17.8115 1.57366 17.8115 1.94921V35.9367C17.8115 36.3122 18.0004 36.5 18.3782 36.5H34.4334C34.8111 36.5 35 36.3122 35 35.9367V9.83581C35 9.46026 34.8111 9.08471 34.4334 9.08471L18.3782 1.57367Z" stroke="black" stroke-width="1.25"/>
                            <path d="M9.50066 1.76172C9.31178 1.76172 9.31177 2.13727 9.31177 2.7006V36.5003H9.50066C9.68955 36.5003 9.68956 36.1247 9.68956 35.5614V1.76172H9.50066Z" stroke="black" stroke-width="1.25"/>
                            <path d="M1.1889 1.76172C1.00001 1.76172 1 2.13727 1 2.7006V36.5003H1.1889C1.37778 36.5003 1.37773 36.1247 1.37773 35.5614V1.76172H1.1889Z" stroke="black" stroke-width="1.25"/>
                        </svg>
                        <span><span id="pickup-quantity"></span> Orders for Pick-up</span>
                    </div>
                    <button type="button" onclick="openOrdersPage();">VIEW ORDERS</button>
                </div>
                <div class="chart-wrapper">
                    <div class="chart-btn">
                        <!-- <span>Net Sales</span> -->
                        <button id="chart-type-btn">
                            <span id="selected-chart-type">Salon Sales Channel</span>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                                    <path d="M14 0.25L7 7.75L0 0.25H14Z" fill="#030706"/>
                                </svg>
                            </div>
                            <div class="chart-type-dropdown hide" id="chart-type-dropdown">
                                <span onclick="selectChartType(event);" data-value="net_sales">Salon Sales Channel</span>
                                <span onclick="selectChartType(event);" data-value="source_channel">Sales by Source Channels</span>
                                <span onclick="selectChartType(event);" data-value="source_type">Sales by Source Types</span>
                            </div>
                        </button>
                        <button class="year-btn" data-type="select-order-stat-time-btn" id="select-year-btn">
                            <span id="selected-year">Year</span>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                                    <path d="M14 0.25L7 7.75L0 0.25H14Z" fill="#030706"/>
                                </svg>
                            </div>
                            <div class="order-stats-dropdown hide" id="select-year-dropdown">
                            </div>
                        </button>
                    </div>
                    <div class="chart">
                        <div class="w-100 h-100 d-flex justify-content-center align-items-center pt-2 pb-2" id="chart-loader">
                            <span class="spinner-border spinner-border-md" style="color: #000093;" role="status" aria-hidden="true">
                            </span>
                        </div>
                        <canvas id="net-sales-chart" class="hide"></canvas>
                        <canvas id="source-channel-sales-chart" class="hide"></canvas>
                        <canvas id="source-type-sales-chart" class="hide"></canvas>
                        <span class="w-100 text-center hide" id="no-chart-data">No Chart Data</span>
                    </div>
                </div>
            </div>
            <div class="content-col-2">
                <div class="all-sales-view">
                    <div class="order-filters">
                        <button data-type="select-order-channel-btn" id="select-sales-overview-btn">
                            <span id="selected-sales-channel-opt">SALES CHANNEL</span>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="18" viewBox="0 0 15 18" fill="none">
                                    <g clip-path="url(#clip0_771_3739)">
                                      <path d="M14.5945 9.31641L7.59448 16.8164L0.594482 9.31641H14.5945Z" fill="#030706"/>
                                      <path d="M14.5947 8.25L7.59473 0.75L0.594727 8.25H14.5947Z" fill="#030706"/>
                                    </g>
                                    <defs>
                                      <clipPath id="clip0_771_3739">
                                        <rect width="14" height="16.5" fill="white" transform="translate(0.594727 0.75)"/>
                                      </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <div class="order-channel-dropdown hide" id="sales-channel-overview-dropdown">
                                <!-- <label for="overview-homme-channel" class="cursor-pointer">
                                    <span>HOMME</span>
                                    <input type="checkbox" onchange="selectSalesChannelOverview(this);" id="overview-homme-channel" value="homme" name="sales_channel" />
                                </label> -->
                                <label for="overview-salon-channel" class="cursor-pointer">
                                    <span>SALONS</span>
                                    <input type="checkbox" checked disabled class="visibilty-hidden" id="overview-salon-channel" value="salon" name="sales_channel" />
                                </label>
                                <!-- <label for="overview-referrer-channel" class="cursor-pointer">
                                    <span>REFERRERS</span>
                                    <input type="checkbox" onchange="selectSalesChannelOverview(this);" id="overview-referrer-channel" value="referral" name="sales_channel" />
                                </label> -->
                            </div>
                        </button>
                        <button data-type="select-order-stat-time-btn" id="select-salon-stat-time-btn">
                            <span id="selected-salon-stat-opt">ALL TIME</span>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="18" viewBox="0 0 15 18" fill="none">
                                    <g clip-path="url(#clip0_771_3739)">
                                        <path d="M14.5945 9.31641L7.59448 16.8164L0.594482 9.31641H14.5945Z" fill="#030706"/>
                                        <path d="M14.5947 8.25L7.59473 0.75L0.594727 8.25H14.5947Z" fill="#030706"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_771_3739">
                                        <rect width="14" height="16.5" fill="white" transform="translate(0.594727 0.75)"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <div class="order-stats-dropdown hide" id="salon-stats-dropdown">
                                <span onclick="selectSalonStatTime(event);">TODAY</span>
                                <span onclick="selectSalonStatTime(event);">CURRENT WEEK</span>
                                <span onclick="selectSalonStatTime(event);">LAST WEEK</span>
                                <span onclick="selectSalonStatTime(event);">CURRENT MONTH</span>
                                <span onclick="selectSalonStatTime(event);">LAST MONTH</span>
                                <span onclick="selectSalonStatTime(event);">CURRENT QUARTER</span>
                                <span onclick="selectSalonStatTime(event);">LAST QUARTER</span>
                                <span onclick="selectSalonStatTime(event);">CURRENT YEAR</span>
                                <span onclick="selectSalonStatTime(event);">LAST YEAR</span>
                                <span onclick="selectSalonStatTime(event);">ALL TIME</span>
                            </div>
                        </button>
                    </div>
                    <!-- <button data-type="select-order-stat-time-btn" id="select-salon-stat-time-btn">
                        <span id="selected-salon-stat-opt">ALL TIME</span>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="18" viewBox="0 0 15 18" fill="none">
                                <g clip-path="url(#clip0_771_3739)">
                                    <path d="M14.5945 9.31641L7.59448 16.8164L0.594482 9.31641H14.5945Z" fill="#030706"/>
                                    <path d="M14.5947 8.25L7.59473 0.75L0.594727 8.25H14.5947Z" fill="#030706"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_771_3739">
                                    <rect width="14" height="16.5" fill="white" transform="translate(0.594727 0.75)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div class="order-stats-dropdown hide" id="salon-stats-dropdown">
                            <span onclick="selectSalonStatTime(event);">TODAY</span>
                            <span onclick="selectSalonStatTime(event);">CURRENT WEEK</span>
                            <span onclick="selectSalonStatTime(event);">LAST WEEK</span>
                            <span onclick="selectSalonStatTime(event);">CURRENT MONTH</span>
                            <span onclick="selectSalonStatTime(event);">LAST MONTH</span>
                            <span onclick="selectSalonStatTime(event);">CURRENT QUARTER</span>
                            <span onclick="selectSalonStatTime(event);">LAST QUARTER</span>
                            <span onclick="selectSalonStatTime(event);">CURRENT YEAR</span>
                            <span onclick="selectSalonStatTime(event);">LAST YEAR</span>
                            <span onclick="selectSalonStatTime(event);">ALL TIME</span>
                        </div>
                    </button> -->

                    <div class="salon-stats-wrapper">
                        <div class="w-100 h-100 d-flex justify-content-center align-items-center pt-2 pb-2" id="salon-stat-loader">
                            <span class="spinner-border spinner-border-md" style="color: #000093;" role="status" aria-hidden="true">
                            </span>
                        </div>
                        <div class="hide" id="salon-stats">
                            <div class="sales-heading">
                                <h2>SALON OVERVIEW</h2>
                            </div>
                            <div class="total-salon">
                                <span>Total Salons</span>
                                <span id="total-salon-number">500</span>
                            </div>
                            <div class="stats-overview-wrapper">
                                <span>New Salons</span>
                                <div class="stats-overview" id="salon-stat-list">
                                </div>
                            </div>
                            <div class="stats-overview-wrapper">
                                <span>Top Referrers</span>
                                <div class="stats-overview" id="referrer-stat-list">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
</body>
{% block scripts %}
<script src="{% static 'Assets/consumer/js/consumerHomme.js' %}"></script>
<script>
    document.getElementById('consumer-salon-sale').click();
    document.getElementById('order-channel-dropdown').classList.add('hide');
  </script>
{% endblock %}
</html>